[2020-09-24 22:06] vadimkantorov commented on #12334
EMCC_DEBUG_SAVE=1 seems to not create anything
[code]

[2020-09-24 22:07] sbc100 commented on #12334
Yeah I think there are few different temp file handling systems in place.  EMCC_DEBUG should do that trick.  It should use the canonical temp directory `/tmp/emscripten_temp` rather than the random one.

[2020-09-24 22:17] vadimkantorov commented on #12334
[emscripten_temp.zip](https://github.com/emscripten-core/emscripten/files/5279491/emscripten_temp.zip)

[2020-09-24 22:54] kripken commented on #12334
Does the command fail for you on the provided file? I don't see a crash locally.

If this uses DWARF, it may be a DWARF crash bug that was recently fixed, #3158

If it still fails for you, maybe run it in a debugger or valgrind to get a stack trace?

[2020-09-24 23:14] sbc100 opened #12335 "Audit all uses of @no_wasm_backend and remove it"
There are bunch of tests still using this decorator.  They need to fixed, remove, or disabled for some other reason.

[2020-09-24 23:14] sbc100 commented on #12335
Part of #11860

[2020-09-24 23:16] vadimkantorov commented on #12334
Yes, em++ command fails for me. If bundling just the *.o and *.a files would do, I can upload them. But it's a good idea, I'm still running 2.0.0.

#3158 seems to be from 2015.

[2020-09-24 23:20] vadimkantorov commented on #12334
[Uploading teckit.zip…]()

[2020-09-24 23:32] vadimkantorov commented on #12334
For me this happens even on 2.0.4

[2020-09-24 23:33] vadimkantorov commented on #12334
dwarf seems to be used maybe, yes

[2020-09-24 23:35] kripken commented on #12334
Oops, it was in another repo, sorry - https://github.com/WebAssembly/binaryen/pull/3158

That's not in a release yet. You can test with `emsdk install tot` for a tip of tree build.

[2020-09-24 23:39] vadimkantorov commented on #12334
Will, try now. Yes, this crashes for me:
[code]

[2020-09-24 23:46] kripken commented on #12334
That's on the `tot` build?

Is there no other crash info? Please run it in valgrind or a debugger to get a stack trace.

[2020-09-24 23:51] vadimkantorov commented on #12334
`tot` fixed it!

[2020-09-24 23:52] vadimkantorov commented on #12334
I ran it on WSLv1, and it doesn't seem to be saving any crash dumps, but I can probably figure it out if needed. Please Let me know if I should still do that, or if `tot` can call the case closed

[2020-09-24 23:55] kripken commented on #12334
Oh good, thanks! If it works on `tot` then it's probably that issue I linked, and nothing more needs to be done.

[2020-09-24 23:55] #12334 closed

[2020-09-25 00:29] kg opened #12336 "Heap growth notifications"
It would be great if ```updateGlobalBufferAndViews``` could notify embedder(s) and application code that the heap has been resized, I don't see any way to get at this information currently. Right now if the heap grows, any live typed arrays pointing at the wasm heap become useless garbage, which makes it very difficult to make use of typed arrays safely when interacting with a compiled wasm binary

[2020-09-25 00:39] vadimkantorov commented on #12334
The `tot` version now hangs indefinitely at some `checking whether the C compiler works...` checks

[2020-09-25 00:40] RReverser commented on #11303
I'm running into this as well. Acorn has dynamic import support since 7.0.0, and Emscripten already uses 7.3.1, so on that side of things it's already progressed far enough since the issue was opened.

However, dynamic import is a feature of ES2020 and #11435 - the last update - only set `ecmaVersion` to `2018`. It will need to be bumped again for this to work.

Also note that in Acorn 8.0.0 we ha

[2020-09-25 01:40] sbc100 commented on #11303
I think we would want that that as long as acorn didn't introduce new language constructs.   As of today we still output ES5 and we wouldn't want anything more recent to sneak into the output.  Assuming acorn won't do this I think using "latest" here is fine.

[2020-09-25 01:41] sbc100 commented on #12334
Sounds like a different issue.

[2020-09-25 01:44] RReverser commented on #11303
I'm not sure what you mean by that. Acorn is just a parser, so it can gain support for mew language constructs, but it can't output or generate anything.

[2020-09-25 01:51] RReverser commented on #11303
Btw, I saw this comment too when searching for `ecmaVersion`: https://github.com/emscripten-core/emscripten/blob/270f795c0492d681b55de89f9888cf577be9d4fc/tools/building.py#L1005-L1006

If we change Acorn to `latest`, then that one can similarly be set to `ECMASCRIPT_NEXT`.

[2020-09-25 02:07] omnisip commented on #12224
@tlively I went a different way of implementation that I thought would be a bit more suitable -- code below, but don't understand how to handle this particular error.

[code]

Error Message:

[code]

[2020-09-25 02:29] omnisip commented on #12224
Got it.  Needed a bitcast to the original vector type before returning.  Will send a patch once I'm done testing it.

[2020-09-25 06:05] #9295 closed

[2020-09-25 06:05] #9257 closed

[2020-09-25 07:36] bmeurer opened #12340 "Replacement for deprecated EMMAKEN_COMPILER?"
With 2.0.4, `emcc` is complaining that `EMMAKEN_COMPILER` is deprecated. We had been using that to point to a little script snippet that forces Emscripten to invoke a (defined) `clang` together with `gomacc` to speed up compilation via goma. Given that `EMMAKEN_COMPILER` is deprecated now, it's unclear how we can achieve this? Maybe we could have goma officially supported in Emscripten instead?

c

[2020-09-25 08:10] wustwn opened #12341 "A question about how EMCC implements WASI"
Hi,

There is a question about how emcc implements WASI. I think that under normal circumstances, it should invoke the WASI APIs’  implementation and import the corresponding wasi function in the target wasm file like wasi-sdk, but after testing case using system API like file system api fopen, I found that it is different with EMCC. I notice that someone has submitted similar test case here [#120

[2020-09-25 08:24] vadimkantorov opened #12342 "[feature request] Automatic chunking of data files by file_packager and FS"
It would be nice if file_packager / FS supported configurable chunking of produced data files. This would be beneficial for browser caching and for dealing with compressed files >2Gb (all individual files are < 2Gb).

This is currently possible by manual chunking of directories (which is already not bad, but would be better if this was automatic)

[2020-09-25 08:27] vadimkantorov commented on #12340
Related (but more about a snippet for wrapping of the target emcc compiler): https://github.com/emscripten-core/emscripten/issues/12256

[2020-09-25 11:33] Genuifx opened #12344 "[USAGE] unknown file type"
`emcc -v `

[code]

when i run `emcc ffmpeg.bc -o ffmpeg.html` then get an error:

`wasm-ld: error: unknown file type: ffmpeg.bc`

[2020-09-25 16:00] sbc100 commented on #12340
@bmeurer interesting.   Thanks for filing this.

Ideally I would hope that things like `distcc` and `ccache` and `gomacc` could be wrapped around the outside of `emcc`?   e.g. CC=`cache emcc` or CC=`gomacc emcc`.

The way cmake would do this for example is with CMAKE_C_COMPILER_LAUNCHER:  https://cmake.org/cmake/help/latest/prop_tgt/LANG_COMPILER_LAUNCHER.html

However I guess one problem is that

[2020-09-25 16:15] sbc100 commented on #12344
How did you build `ffmpeg.bc`?  What type if file is `ffmpeg.bc`?  (You can run `file ffmpeg.bc` to find out if you are on macOS or linux).

[2020-09-25 16:39] pfaffe commented on #12340
`EM_COMPILER_LAUNCHER` sounds like an excellent solution.

Wrapping the `emcc` call is possible, but the compiler farm would have to have lots of emcc versions available. Wrapping just the clang calls is so much easier because everything is already in place for that.

[2020-09-25 17:05] sbc100 commented on #12340
I'm curious about how goma works in situations like this... do you have to get the goma farm to install a new version of llvm for each emsdk version... or do you end up using just a "close-enough" version and hope for the best?

[2020-09-25 17:34] sbc100 commented on #12341
Emscripten's current approach is to use WASI APIs where it makes sense and where they are efficient in terms of code size and performance.

As of today we only use WASI APIs for a very small number of things.  If you try to do anything other than the most basic I/O you will most likely end up with program that requires emscripten-specific APIs and the result will *not* run on WASI runtimes.

We do

[2020-09-25 17:34] sbc100 commented on #12341
We could add an ONLY_WASI option to emscripten, which would severely limit the number of programs you could compile, but perhaps it would be useful?

[2020-09-25 17:35] RReverser opened #12346 "Encourage -pthread over -s USE_PTHREADS=1"
A while back, when preparing for CDS, I think we agreed that it's better to encourage usage of an upstream `-pthread` flag, which Emscripten also supports nowadays, over a custom `-s USE_PTHREADS=1` option.

However, public docs don't reflect this and have no mention of `-pthread` on https://emscripten.org/docs/porting/pthreads.html. If the above still makes sense, we should update the docs.

[2020-09-25 18:19] RReverser commented on #11112
@Lyve1981 Does this still fail for you? I've been successfully using pthreads with `EXPORT_NAME`, perhaps the issue has been fixed since.

[2020-09-25 18:23] RReverser commented on #11554
One idea I briefly played with was creating one thread at the start of the program (it could be Emscripten's runtime dependency), and then instead of creating new Workers directly, asking it to create more threads via a SharedArrayBuffer channel.

This way, it's always possible to do `pthread_create` followed by blocking of the current thread even without a pre-existing pool of Workers - only one

[2020-09-25 19:19] r-pankevicius commented on #12161
@sbc100 A small improvement - now there are no issues to access wasm file, but generated js file is inaccessible - HTTP Error 401.3 - Unauthorized.

[code]

[2020-09-25 19:22] sbc100 commented on #12161
Yes we think we understand the issue now.   The solution is to write the final JS file directly to the target location.   I'm not sure when I'll get around to the fix though.   Do you have a workaround for now?

[2020-09-25 19:37] r-pankevicius commented on #12161
Of course I have, I mentioned it above.
BTW it's probably a good time to add a better error handling in generated html before you fix it.
Because here is what I see forever trying to open generated name.html: [screenshot](https://imgur.com/a/sziL5BB)

[2020-09-25 20:02] sbc100 commented on #12161
I guess that is the same thing that happens if the wasm file is not fetchable for any reason?

I assume the errors show up in the JS console?    I think the JS console is where we report most warnings and errors to the developer so it seems ok to me.  Do you think there is specific reason why that is not good enough in this situation?

[2020-09-25 20:16] r-pankevicius commented on #12161
Yes, they show up as:
`name.js:1 Failed to load resource: the server responded with a status of 401 (Unauthorized)`

Well, I agree with you: emsdk is not a product for end user, so developers will solve these issues before releasing products to the user.

[2020-09-25 22:03] kripken commented on #12341
I think it would be useful together with an implementation to use WASI syscalls as much as possible.

See previous discussion in https://github.com/emscripten-core/emscripten/issues/12073 . @mejedi perhaps you'll have time for a PR as discussed there?

[2020-09-25 22:13] vadimkantorov commented on #12074
Is there a way to use file_packager-produced packages with "-s MODULARIZE=1 -s EXPORT_NAME=somename" modules without using `--pre-js`? I'd like to dynamically select a package to load.

The file_packager-produced packages seem to assume that global Module variable exists, which is not true for  "-s MODULARIZE=1 -s EXPORT_NAME=somename"

[2020-09-25 22:34] vadimkantorov commented on #12074
file_packager.py is a way to change Module into something something else, but it doesn't help, because module gets instantiated only at function call e.g. `const myModule = somename()`

[2020-09-25 22:44] kripken commented on #12035
I verified this is fixed by #12056 which will land shortly.

Thanks again for the testcase @rsielken , it's been very helpful!

[2020-09-26 00:20] #12035 closed

[2020-09-26 02:46] #9315 closed

[2020-09-26 02:46] #9282 closed

[2020-09-26 02:46] #9302 closed

[2020-09-26 02:46] #9230 closed

[2020-09-26 03:36] Mintyboi commented on #12271
@kripken I have not gotten a reproducer from vanilla emscripten codebase. So it's a not a bug in emscripten per se.
We have some codes in our fork that contains a mapping of minified names to the actual functions and we do a reverse lookup on that map. That's where we see the collision.
But we got the minifications from binaryen.

[2020-09-26 09:14] vadimkantorov opened #12347 "Loading data packages into MODULARIZE'd modules dynamically without --pre-js"
Currently it's very hacky to do this, since data packages rely on global objects Module and LZ4.

I managed to hack this around, but I think this is a useful feature and should be supported natively.

Original context in https://github.com/emscripten-core/emscripten/issues/12074#issuecomment-699181317

[2020-09-26 10:11] vadimkantorov commented on #12347
It would also be nice if there was a unified way of creating/loading traditional packages that embed the data and "virtual" packages that redirect file access to URLs. Currently this is possible, but it is not easy to switch from one to the other.

[2020-09-26 11:54] Beuc opened #12348 "IDBFS ignores changes if timestamp is older"
Hi,

In RenPyWeb there is a feature to export and re-import savegames, particularly useful since there is no long-term guarantee with IDBFS storage.

Since the time of the save file is displayed in-game (so e.g. the player knows if the savegame is from last week or last month), this feature maintains timestamps.

However FS.sync() ignores changes if the timestamp became older (due to e.g. restorin

[2020-09-26 14:14] alexzielenski commented on #12285
Thanks for taking a look!

I removed `--config-wasm` as you said and was able to compile. However, I dont think `wasm_cc_binary` elides the step for using `tar` to package up the build artifacts - it still seems to be doing that.

I am running on a mac, and as such did have to change the `WORKSPACE` file to say `mac` instead of `linux` in the url. That was no big deal but it does break cross-platf

[2020-09-26 14:16] #12285 closed

[2020-09-26 22:47] vadimkantorov opened #12349 "[question] Using lazy files in browser in main thread but in async mode"
The docs mention that browsers disallow synchronous XHR and thus lazy files are supported only in Web Worker mode. But binary XHR are supported in async mode, aren't they? When using MODULARIZE'd modules, we're in async mode anyway.

(For me, it's mostly a question about consistency/ease of debugging, since in practice the heavy code should be running in Web Worker anyway)

[2020-09-27 02:47] Genuifx commented on #12344
`ffmpeg.bc: ASCII text, with very long lines`

Have a see at https://github.com/Kagami/ffmpeg.js/blob/1eef77e5cfde211d4b8ac282a450f1ffe4fdba79/Makefile#L188

I run with
[code]

then `cp ffmpeg ffmpeg.bc`.  @sbc100  `ffmpeg.bc` is generated here.

[2020-09-27 03:47] #9320 closed

[2020-09-27 03:47] #9344 closed

[2020-09-27 08:14] LanderlYoung commented on #11497
This is a really needed feature.
val can't work well with EM_JS for now, but there are workarounds.
to return val from EM_JS, would be like this:
[code]

The above code works, but not so elegant.

[2020-09-27 09:59] jinzhuming commented on #12344
I'm having the same problem.

[code]
![log](https://raw.githubusercontent.com/jinzhuming/oss/master/uPic/JI0Bsp.png)

[2020-09-27 21:24] vadimkantorov commented on #5044
It would be nice also if the exception listed the offending file path

[2020-09-28 00:29] vadimkantorov commented on #2963
@kripken I just found PROXYFS (that has zero documentation, so it took some time to discover). Does it not implement this functionality? https://github.com/emscripten-core/emscripten/pull/4737

[2020-09-28 01:48] sbc100 commented on #12344
ffmpeg is an executable not a library, and emscripten generated JavaScript executables so `ffmpeg` is a JavaScript file and this cannot then be linked into another applications.

I assume you are trying to use ffmpeg as a library?  If so you probably want to instead link your program against libavcodec.a and other libraries that are part of ffmpeg.

[2020-09-28 05:38] jinzhuming commented on #12344
it is working:
[build_wasm](https://github.com/jordiwang/web-capture/blob/master/doc/build_wasm.sh)

`cp ffmpeg ffmpeg.bc` is an error operation, ffmpeg cannot be compiled. @Genuifx

thank you, too  @sbc100

[2020-09-28 06:16] Genuifx commented on #12344
@sbc100 Noop, I not writing c++, I just wanna run FFmpeg at web platform.

so, the only thing I need to do is load the generated `ffmpeg_g` and `ffmpeg_g.wasm` directly?

btw.
what the difference between `ffmpeg` and `ffmpeg_g`?
why not rename `ffmpeg` to `ffmpeg.js`?

[2020-09-28 09:52] ShuiFan0 opened #12350 "windows下使用docker，在dockerHub介绍页未提供命令示例"
docker run --rm=true -v "$(pwd):/src" emscripten/emsdk  emcc helloworld.cpp -o out/helloworld.html

[2020-09-28 13:25] vadimkantorov opened #12351 "-lproxyfs.js doesn't include PROXYFS"
I'd like to use PROXYFS within a WebWorker to skip re-init of file system and data package reloading.

Specifying `-lproxyfs.js` doesn't lead FS.filesystems to have PROXYFS
OTOH, specifying `-lworkerfs.js` does work, and indeed FS.filesystems has WORKERFS now

Specifying `-s EXPORTED_RUNTIME_METHODS=["PROXYFS"]` leads to `ReferenceError` at `Module["PROXYFS"]=PROXYFS;` at module initialization tim

[2020-09-28 14:01] #4416 closed

[2020-09-28 14:55] sbc100 commented on #12351
I does look like maybe proxyfs is missing here: https://github.com/emscripten-core/emscripten/blob/d021a984b8909b78b1cdd653c0fb302383a31306/src/library_fs.js#L1467

Perhaps there is a reason for this?  @kripken @juj ?

[2020-09-28 15:01] vadimkantorov commented on #12351
It's not added to Module.PROXYFS either. Seems even local PROXYFS object is not created, and hence it's not available anywhere

[2020-09-28 15:01] vadimkantorov commented on #12351
Is this test enabled?

[2020-09-28 15:12] sbc100 commented on #12351
The test does currently pass due to other flags that is uses.    However I have a fix not that cleans that up and make it work as expected.

[2020-09-28 15:15] vadimkantorov commented on #12351
Cool. BTW, what other flags do make it work at the moment?

[2020-09-28 15:15] vadimkantorov commented on #12351
Oh, I see: `Remove EXPORT_ALL and MAIN_MODULE from test_proxyfs in favor
of being more precise in what we want to export.` :0

[2020-09-28 15:16] vadimkantorov commented on #12351
After this PR, it will appear on FS.filesystems, right?

[2020-09-28 15:26] sbc100 commented on #12351
Yes, please don't copy the `MAIN_MODULE` + `EXPORT_ALL` hack.. that seems like missive overkill and misuse of `MAIN_MODULE` to boot.

[2020-09-28 15:26] sbc100 commented on #12351
Yes

[2020-09-28 16:54] sbc100 commented on #12350
If this is bug report can you include information how it fails?

[2020-09-28 17:03] sbc100 commented on #12344
Yes, renaming ffmpeg to ffmpeg.js would make sense to me.

I imagine the `_g` could be perhaps a debug build (since -g is the flag to include debug info), but I can't be sure, that is something specific the the ffmpeg build system.

[2020-09-28 17:14] trybka opened #12353 "`-s TRACE_WEBGL_CALLS=1` has issues with some methods in WebGL2 contexts."
At least `readPixels` and `bufferData` have overloads with different argument lengths.

Probably an audit of what other functions change in WebGL2 mode is warranted.

As of 2.0.2, calling these with tracing on leads to reading/writing garbage memory, notably I was able to observe overwritten vtable entries in this way.

[2020-09-28 18:27] netpipe commented on #11128
the nice part is its very small code line count. was wondering if this ever made it into the repo ?

[2020-09-28 18:43] Genuifx commented on #12344
awesome, thanks for your amazing work.

[2020-09-28 19:52] Shachlan opened #12355 "missing informative way of extracting WebGL context creation failures"
as discussed [here](https://github.com/emscripten-core/emscripten/pull/11441#pullrequestreview-435967112), today the only information that emscripten returns about WebGL context creation failures appears in logs, if the `GL_DEBUG` or `ASSERTIONS` flags are set during the build process. There's no programatic way of receiving the source of failure in `GL.createContext` or `emscripten_webgl_create_c

[2020-09-28 19:57] cwoffenden opened #12356 "Stack overflow check broken when used with pthreads and embind in 2.0.3 onwards"
In 2.0.3 onwards when combining pthreads, `--bind` and `-s STACK_OVERFLOW_CHECK=2` the stack check is failing for the workers (but is fine on the main thread). It's reproducible with one of the simpler pthread test files, for example:
[code]
Because the order of creation means embind is initialised before the stack checker, a false stack overflow is always generated from `__embind_register_native_

[2020-09-28 22:33] #12351 closed

[2020-09-28 22:49] Seeker93 opened #12359 "How to pass a pointer to float array in Javascript"
I have the following C function that takes in an array compressed by the zfp library, and attempts to decompress it.

[code]

I am attempting to call this function in Typescript (a React client), by passing it the compressed array received by the client. I have the communication set up correctly, since I can call more basic functions without a problem.

I am trying something like this:

[code]

Ho

[2020-09-28 23:33] vadimkantorov commented on #12351
What is emscripten's process for CI? When is this commit landing in tip-of-tree? Is it nightly builds?

[2020-09-28 23:35] RReverser commented on #11303
Re-opening, as apparently the ES version bump wasn't enough. Now there are problems with AST conversion to Terser:

[code]

[2020-09-28 23:38] RReverser commented on #11303
But also, wait, why do we need both Terser *and* Closure? That seems a bit suboptimal?

[2020-09-29 00:08] sbc100 commented on #12351
We build releases continuously here: https://ci.chromium.org/p/emscripten-releases

You can install the latest release using `./emsdk upsdae-tags && ./emdk install tot`

[2020-09-29 00:24] #3773 closed

[2020-09-29 00:24] #9083 closed

[2020-09-29 01:27] ShuiFan0 commented on #12350
不是bug，是因为linux上的docker命令无法在windows上执行

[2020-09-29 03:49] kuangzhuaizsm opened #12360 "pthread_create doesn't run"
`void *thr_fn(void *arg)
	{
		printf("this is a new thread\n");
		int i;
		while(1)
		{
			printf("%d\n", i);
			emscripten_thread_sleep(200);
			i++;
		}
	}

	int EMSCRIPTEN_KEEPALIVE create_thread()
	{
		printf("this is create\n");
		pthread_t ntid;
		pthread_create(&ntid, NULL, thr_fn, NULL);
		while(1)
		{
			emscripten_thread_sleep(200);
		}
	}`
When I use the "create_thread" in a Web Worker,

[2020-09-29 04:54] #12135 closed

[2020-09-29 09:06] kleisauke commented on #12350
This seems to work for me in PowerShell on Windows:
[code]

(`hello_world.cpp` is located [here](https://github.com/emscripten-core/emscripten/blob/master/tests/hello_world.cpp))

Swap `${PWD}` with `%cd%` if you use the Windows Command Line (`cmd`). https://stackoverflow.com/a/41489151/10952119 might be relevant here.

[2020-09-29 12:38] tklajnscek commented on #12356
I _think_ the way to fix this is to move this:
[code]
from `library_pthread.js - initWorker` to `worker.js - onmessage -> if (e.data.cmd === 'run')`, but passing in `ignoreDuplicateRegistrations = true` for it to work with thread pools... or just `if` it to only happen once.

I don't think any code should run before the stack check stuff is set up.

Does that sound reasonable?

[2020-09-29 13:03] cwoffenden commented on #12356
The alternative (though decidedly incorrect way) is to avoid native function calls in `__embind_register_native_and_builtin_types()` and call the JS ones directly, bypassing the stack check:

https://github.com/emscripten-core/emscripten/blob/a534224aca823f774efcad4eaf57515752b18979/system/lib/embind/bind.cpp#L100

Replacing the templated `register_integer()` with a macro to do the same (which @tk

[2020-09-29 13:22] vadimkantorov commented on #12351
@sbc100 Is there a way to enable tracing of FS calls?

After enabling proxying, I started to get `DVI: Invalid argument`:
[code]

This must be related to proxied file access.

E.g. I noticed that `FS.lookupPath('/some/directory').node.contents` breaks or returns null for proxied directory.

[2020-09-29 13:53] vadimkantorov commented on #12351
E.g. xdvidpfmx does absolute file seek. Is it supported by PROXYFS?

[2020-09-29 14:10] vadimkantorov opened #12367 "PROXYFS has a problem with reporting file sizes and SEEK_END"
This code from dvidpfmx reports 0 file size when using PROXYFS and correct 1924 size when using MEMFS:
[code]

*UPD* old content is below:

[Here](https://github.com/emscripten-core/emscripten/blob/7c3ced64d51be643f7a12bb34e8b875155d49dc7/src/library_proxyfs.js#L195) it supports only SEEK_CUR and SEEK_END.

SEEK_SET is also useful and is used e.g. by xdvpdfmx:
https://github.com/TeX-Live/texlive-s

[2020-09-29 14:17] vadimkantorov commented on #12351
I think I identified the problem with PROXYFS+seek and created an issue: https://github.com/emscripten-core/emscripten/issues/12367

Otherwise, does emscripten support piping input to stdout? This would force dvipdfmx into not doing seek.

[2020-09-29 14:20] sbc100 opened #12368 "browser.test_pthread_create more flaky in CI in recent days."
I've seen this test flake quite a few times recently.  e.g:

https://app.circleci.com/pipelines/github/emscripten-core/emscripten/8321/workflows/ac5e8100-f66c-4ef2-bc54-b37ad3db84de/jobs/361395

[2020-09-29 14:20] sbc100 commented on #12368
@kripken

[2020-09-29 14:33] sbc100 commented on #12367
I guess this is not very surprising, proxyfs seems largely undocumented/untested/unused.

Would you like to help out improving it?

Is this even something we want to encorage or move forward with?  @azakai @juj?

[2020-09-29 14:39] vadimkantorov commented on #12367
It is very useful for having several programs/modules work with the same FS. Initializing FS can be costly if there's a LOOT of files (even if virtual files), just because running maany javascript calls can be slow. It is also a simple example of creating a user FS.

I don't have resources right now for fast-timeline-ish contributions :(, it would take a lot of time on my side (to learn Emscripten

[2020-09-29 14:47] sbc100 commented on #12367
I don't mean to sounds like your use case is not important.   We just have to consider the cost of maintaining each feature against its usage given our limited resources.

For example, if you are the only user of this feature it might make sense to maintain the `library_proxyfs.js` outside of emscripten.  This is possible in this case because of the pluggable nature of the filesystem API.

I'm not

[2020-09-29 15:43] vadimkantorov commented on #12367
Regardless of PROXYFS, what is needed is more information / documentation about creating custom FS's and the respecive limitations. E.g. I may want to add a caching Web-fetching FS (think of mounting online TexLive database). Examples are useful, maybe PROXYFS could be turned into such an example.

In theory, could I just copy over PROXYFS into my own code? and just remove the prefix
[code]

[2020-09-29 16:23] #12346 closed

[2020-09-29 17:15] sbc100 opened #12369 "Avoid implicitly skipping tests when, for example, d8 is missing"
We should have a way for users who don't want to install d8 to continue to run the test suite but we should not just implictly skip over the tests that depend on d8 (e.g. all the SIMD tests).

Instead we should have a envronment variable or command line option that such users can use. e.g. `EMTEST_NO_D8`.

[2020-09-29 17:19] omnisip commented on #12224
Patch is below.  It's not a substitute for rodata, but it's a big improvement.

[code]

[2020-09-29 17:25] sbc100 commented on #12369
If anyone wants this please take it :)

[2020-09-29 17:26] vadimkantorov commented on #12367
The problem is in negative offsets

[2020-09-29 17:54] vadimkantorov commented on #12367
The problem seems to be in `tell(...)` call

[2020-09-29 18:15] #11303 closed

[2020-09-29 18:17] vadimkantorov commented on #12367
Somehow SEEK_END call does not modify stream.position. I'm not sure how stream's cursor gets modified. Not sure how it works for MEMFS

[2020-09-29 18:23] vadimkantorov commented on #12367
So after a proxied lseek(SEEK_END) call stream.position still returns 0 on the next call

[2020-09-29 18:26] vadimkantorov commented on #12367
How is stream.position supposed to move? MEMFS also does not advance it:
https://github.com/emscripten-core/emscripten/blob/7c3ced64d51be643f7a12bb34e8b875155d49dc7/src/library_memfs.js#L339

The pattern in dvipdfmx for learning the file size is to SEEK_END and then to retrieve SEEK_CUR. This currently retrieves zero

[2020-09-29 18:33] vadimkantorov commented on #12367
@sbc100 Okay, I figured it out!

PROXYFS's handles SEEK_END by fstat call, but it doesn't exist anymore:
[code]

I guess there was no test for SEEK_END.

[2020-09-29 18:38] vadimkantorov commented on #12367
I could not find a stat call that takes in a node :(

[2020-09-29 18:40] vadimkantorov commented on #12367
It seems that `stream.nfd.node.usedBytes` can be used instead of this call

[2020-09-29 18:44] vadimkantorov commented on #12367
Then everything works. If this qualifies as a PR, I could send it :) but for a real thing, a test would be needed

[2020-09-29 18:48] vadimkantorov commented on #12367
About making FS's a less daunting thing to write: making ERRNO_CODES / SEEK_END/CUR/SET codes public would help! The WASM errno codes seem very different from linux.

[2020-09-29 18:54] sbc100 commented on #12367
Patches certainly welcome!

What do you mean by "making ERRNO_CODES / SEEK_END/CUR/SET codes public"?    Do you mean making them usable from user library.js files?  As far as I know they are available.

Or do you mean making them available in header files?  In which case they already are, you should be able to find them all in the headers that are part of the libc that we ship.  Have a look in `sy

[2020-09-29 19:22] vadimkantorov commented on #12367
I meant exporting them on Module object or some other place like that. maybe these constants are already exportable with EXTRA_...._METHODS?

[2020-09-29 19:44] vadimkantorov commented on #12367
Now that I'm rerunning the code, `stream.nfd.node.usedBytes` isn't defined anymore. Maybe I did sth wrong last time. But the problem with non-existent fstat is definitely it.

[2020-09-29 19:48] kripken commented on #11128
I don't think anyone's done work on this - a PR with a docs addition would be nice!

[2020-09-29 19:49] kripken commented on #12271
Binaryen minified names shouldn't reach the global namespace, I don't think? Only the exports should, but those aren't minified? Sorry if I'm missing something obvious. Even without a reproducing testcase, more details could help understand what you mean @Mintyboi

[2020-09-29 19:50] vadimkantorov commented on #12367
`stream.node.node_ops.getattr(stream.node).size` seems the stable one

[2020-09-29 20:00] kripken commented on #12336
I agree this can be annoying, yeah, Web APIs make it easy to miss this and get bad results.

One way to do this right now is to monkeypatch `wasmMemory.grow`, which is what we call from JS to grow, to run some code in the middle. Another way is to reimplement `$emscripten_realloc_buffer` in a JS library, which would override the default implementation from `library.js` (you'd need to do the same t

[2020-09-29 20:04] vadimkantorov commented on #12293
@kripken @sbc100 I managed to run the module multiple times by doing a simple memory reset:
[code]

[2020-09-29 20:24] sbc100 commented on #12367
If you are writing library code you should be able to do e.g. `{{{ cDefine('SEEK_END') }}}` if you re writing C/C++ code you should be able to use `SEEK_END` directly.   Is there some other use case this doesn't cover?

[2020-09-29 20:34] vadimkantorov commented on #12367
I created a patched PROXYFS just in client JavaScript, without plugging it in the compilation process

[2020-09-29 22:31] curiousdannii commented on #12367
I wrote an external FS, so had no access to constants like that, but I only needed about 10 of them, so it was no big deal.

What was tricky was finding where the WASI error codes were defined.

[2020-09-29 22:48] vadimkantorov commented on #12367
Indeed, I had copied them from Chrome Console during debugging session.

[2020-09-30 00:33] tlively commented on #12224
Awesome, this is a nice simple approach. I will update the code to conform to LLVM style, update the corresponding tests, and get this merged. Thanks for working on this!

[2020-09-30 03:38] #4161 closed

[2020-09-30 03:38] #4920 closed

[2020-09-30 03:40] sbc100 commented on #9538
We don't generate wast files at all in emscripten anymore.

[2020-09-30 03:40] #9538 closed

[2020-09-30 03:41] sbc100 commented on #9527
Oh this is exciting.. now that we no longer dynamically allocate I think we can re-enable ctor evaluation!

[2020-09-30 04:01] mmcparlane opened #12376 "building.py uses bogus python path on Windows"
When running emconfigure it seems a bogus python path is referenced by the emconfigure script.
Error message:

[code]

My environment uses emsdk 2.0.5 with the following in .emscripten:

[code]

[2020-09-30 04:38] sbc100 commented on #12376
Do you have PYTHONHOME set in your environment by any chance?    Can you try unsetting it?

I made a change recently to have emsdk_env unset this: https://github.com/emscripten-core/emsdk/pull/600

However this will only effect the current command prompt I believe.

[2020-09-30 04:38] sbc100 commented on #12376
Oh, can can you tell me what the value of PYTHONHOME is on your system?  Any any idea what set it there in your envrionment?

[2020-09-30 04:42] sbc100 commented on #12376
Also even once you have fixed that it looks like you will also need to somehow tell emconfigure how to run your configure script.   On windows presumably you can't just run a configure script since its a text file.  You will need to run it under a bash shell.   So something like `emconfigure /path/to/bash configure`?

Are you aware the running autoconf-generated shell scripts on windows is unlikel

[2020-09-30 05:57] flatmax opened #12377 "Cannot use 'import.meta' outside a module"
The browser is having trouble with the "import.meta.url" line in the binded emscripten module :
[code]
I am importing my module like so :
[code]
The error reported is :
`Uncaught SyntaxError: Cannot use 'import.meta' outside a module`

The binding command is :
	@emcc --bind --llvm-opts 1 --memory-init-file 0 --pre-js ./pre.js -s EXPORT_ES6=1 -s MODULARIZE=1 -s EXPORT_NAME="'namedModule'" -s SINGLE

[2020-09-30 06:08] curiousdannii commented on #12377
Don't use EXPORT_ES6 if you don't intend to load it as an ES6 module. :)

[2020-09-30 06:29] wustwn commented on #12341
@sbc100  @kripken  Thanks so much for your such quick reply!

I do hope that you guys continue your brilliant work and take a bit more effort beyond the web like supporting more WASI APIs, bring us one more option besides of  wasi-sdk when it come to system libraries usage, which may really make emscripten more powerful.

Thanks again !

[2020-09-30 07:14] bmeurer commented on #12340
@pfaffe and I had been looking into various options. `gomacc emcc` didn't work at least in summer, we had to pass clang to `gomacc`. Having an Emscripten replacement for `CMAKE_C_COMPILER_LAUNCHER` would be awesome, that's what we're using to hook up `gomacc` with the native build right now.

[2020-09-30 08:09] Albirair opened #12379 "Windows End of Line (CRLF) Confuses Linux"
Linux assumes the **carriage return** at the end of the first line of any script part of the targeted shell name, thus it prints error messages stating "**bad interpreter** ".
The problem appeared from the start when trying to install _Emscripten_, to solve it I had to manually remove the carriage returns in the file _install.py_.

[2020-09-30 10:33] flatmax commented on #12377
Yep - that works ! Thanks.

[2020-09-30 10:33] #12377 closed

[2020-09-30 12:49] mmcparlane commented on #12376
@sbc100 Thanks for the prompt reply.

I was able to get configure to work using my msys2 install. I checked with the emsdk-installed mingw64 and it doesn't have the sh.exe (or other common utilities like sed.exe, etc.) installed by default. If possible it might be nice to have those included with the emsdk mingw download too 😉

I am running into another issue though once emmake is run that seems t

[2020-09-30 12:50] sunfishcode commented on #12341
If there are ways wasi-sdk could be more useful, please report them!

[2020-09-30 14:15] mmcparlane commented on #12376
I did a string replace in the autoconf-generated files: `libtool` and `Makefile` to use `/c/emsdk/*` instead of `C:\emsdk` and the libjpeg build succeeded.

So, it seems like there's some sort of bug still with paths on Windows. Should the EMSDK system replace `c:\` with `c:/` or does emconfigure need to be invoked expecting to use an msys2 or mingw environment, and hence replace `c:\` with `/c/`

[2020-09-30 14:19] mmcparlane commented on #12376
Strange... I just noticed also that when calling `emsdk_env.bat` I get a subtle note on a missing drive as well: `The system cannot find the drive specified.`.

[code]

[2020-09-30 14:53] AlexVestin commented on #12360
That code runs for me, are you on the latest emscripten version? (`emcc -v` == 2.0.4)

[2020-09-30 14:56] sbc100 commented on #12379
What would your `install.py` have windows endings?  Did you do the checkout on windows?

[2020-09-30 14:59] sbc100 commented on #12379
The fix is it to do you git checkout on linux if you are using linux... or to run install.py explicitly via `python install.py`

[2020-09-30 15:03] sbc100 commented on #12340
I'll implement EM_COMPILER_LAUNCHER today (hopefully).   Are you ok with suppressing the deprecation warning for now (`-Wno-error=deprecate` should do it)?

[2020-09-30 15:23] AlexVestin commented on #12359
You do
[code]

[2020-09-30 15:26] tw-git commented on #6595
@Pfeifenjoy Did you find a solution?

[2020-09-30 15:37] minjax opened #12381 "LLVM version appears incorrect after install in Ubuntu 18.04"
In Ubuntu 18.04 (previously setup for C++ development), attempting to install emscripten through apt brings the message:

 root: LLVM version appears incorrect (seeing "(tags/RELEASE_600/final)", expected "3.4")

Full transcript follows:

[code]

My first page of Google results wasn't helpful, I'm hopeful that this answer will help others get to a faster resolution in the future.

[2020-09-30 16:03] kuangzhuaizsm commented on #12360
I'm not sure the version, because the pc is not around me.It seems the latest version(maybe 2.0.5).
I use the PTHREAD_POOL_SIZE and USE_PTHREADS=1 both.
I remember the same code seems work well a month ago,but it doesn't work now.

[2020-09-30 16:21] ericmandel opened #12382 "clarification request: generating a bitcode file with 2.0.5"
I generate wasm and non-wasm versions of my project because some environments (e.g. Jupyter) do not yet support wasm. To date, I have done this by generating a bitcode file and then linking it with wasm and non-wasm flags:
[code]
As of v2.0.2, the astroem.bc rule now produces an executable instead of bitcode. Trial and error indicates that I need to add the -r switch:
[code]
but I can find no emsc

[2020-09-30 16:34] sbc100 commented on #12382
Indeed this behaviour was recently changed in order to be more consistent with existing compilers.  Sorry for the breakage.   The changelog entry was this one:

[code]

The `-r` flag corresponds to the `-r/--relocatable` linker flag which is documented
in the `ld` man page.   It basically take a bunch of input objects and combines them
into a single object file.

Both gcc and clang happen to also

[2020-09-30 17:01] ericmandel commented on #12382
Thanks for the quick response! If I use emar, I get hundreds of undefined symbols like this:
[code]
The wcsceq routine is used inside the C code that is compiled by emcc, but not outside. Do I really have to declare each of them in EXPORTED_FUNCTIONS? Or do I just want to suppress these messages?

[2020-09-30 17:04] tlively commented on #12224
Patch up for review here: https://reviews.llvm.org/D88591. While writing tests, I nerd-sniped myself into improving it to only emit a follow-up i64x2.replace_lane after the splat if necessary.

[2020-09-30 17:21] sbc100 commented on #12382
No that should not be needed.  Can you post the full link command you are using?  Is `wcsceq` supposed to be defined in your library?

You can use `emar t libastroem.a` to see what files ended up in the archive and `llvm-nm libastroem.a` to see all the symbols.

[2020-09-30 17:30] omnisip commented on #12224
When is a case when CombinedSufficient applies?

[2020-09-30 17:31] sbc100 commented on #12381
That sounds like a problem with extremely ancient debian/ubuntu package of emscripten.

Version 1.22.1 is very very old and completely unsupported at this point.  (From august 2014!)

If you'd like to work with downstream debian/ubuntu maintainer to update the package that would be great, otherwise I suggest you use `emsdk` which is our official installer.

[2020-09-30 17:31] anuragdmon commented on #4387
`An error occurred running the Unity content on this page. See your browser JavaScript console for more info. The error was: abort("To use dlopen, you need to use Emscripten's linking support, see https://github.com/kripken/emscripten/wiki/Linking") at jsStackTrace@http://.....`

i am getting this error and it tells me to use emscripten's linking support as you can see and i am not really knowledg

[2020-09-30 17:34] minjax commented on #12381
Thanks,

I came to that conclusion eventually - the user experience on Ubuntu 18.04 (which isn't so ancient, but often guilty of packaging ancient components) is that it leads you straight down this path...

________________________________
From: Sam Clegg <notifications@github.com>
Sent: Wednesday, September 30, 2020 1:31 PM
To: emscripten-core/emscripten <emscripten@noreply.github.com>
Cc: Inman

[2020-09-30 17:37] tlively commented on #12224
For example this test:

[code]

The first half will have the same value as `{1, 0}` and the second half will have the same value as `{0, 2}`, so neither half is sufficient to cover the other half naively. But if we take advantage of the fact that `undef` (or more generally, any lane that is unused in the initial constant) is allowed to take on any value, then we see that we can splat `{1, 2}` to c

[2020-09-30 17:39] omnisip commented on #12224
Okay... so from the user's perspective, those 2 middle lanes are undefined, but we've populated them with the other's value.

How does one do that from emscripten/em++?

[2020-09-30 17:40] mmcparlane commented on #12376
I have just confirmed this also builds when changing the paths from `c:\` to `c:/` and replacing all `\` with `/` in Makefile and libtool files generated by autoconf (as opposed to /c/). This implies that normalizing path separators in `emconfigure` _should_ fix this problem and in general make things play nicer with msys2.

[2020-09-30 17:50] sbc100 commented on #12376
I think one problem will be that emconfigure doesn't know its running on msys2 since I imagine you are using the windows version python to run emconfigure.   It thinks "hey I'm on windows so that right thing to do is use windows paths".     Ideas/patches welcome.  There are other buts open related to msys2 and windows that you might want to coordinate with.   e.g. https://github.com/emscripten-cor

[2020-09-30 17:58] ericmandel commented on #12382
Ah, never mind, I had a mistake in the generation of the new library file. Looks like it all works now using emar. Thanks for your help!

[2020-09-30 17:59] #12382 closed

[2020-09-30 18:21] tlively commented on #12224
These C functions both end up triggering that case, the first literally with `undef`s in the LLVM IR and the second because the middle lanes are not constant:

[code]

[2020-09-30 18:24] omnisip commented on #12224
Wow.  Fascinating.  Kudos.

[2020-09-30 18:36] samcov commented on #12246
On Windows 10, I get the following error.
**emcc: error**: helloworld.cpp: No such file or directory ("helloworld.cpp" was expected to be an input file, based on the commandline arguments provided)

Running the following command:
docker run  --rm  -v /D/Dev/Emscripten  emscripten/emsdk  emcc helloworld.cpp -o helloworld.js

I'm having trouble with emcc finding the file for some reason. BTW, I remo

[2020-09-30 18:36] #12340 closed

[2020-09-30 18:44] sbc100 commented on #12246
The idea is that you would have a file such as `helloworld.cpp` somewhere on your host filesystem.  The `-v` flag then mounts that filesystem.

emcc runs in the `/src` directory within the container by default so if you want it to find `helloworld.cpp` as a relative path you need to ensure that `helloworld.cpp` exists in `/src`.  This is why the example mounts the current directory on `/src` using

[2020-09-30 19:02] #12379 closed

[2020-09-30 19:06] omnisip commented on #12224
Do you want to adjust the v128.const code to have that behavior too?  Now it's filling those spots with zeros.

[2020-09-30 19:06] samcov commented on #12246
Holy Smokes, it WORKED!!!

I used: -v /D/Dev/Emscripten:/src, and no problems, it generated the .js & .wasm files perfectly.

Thanks a LOT!!!

[2020-09-30 19:14] tlively commented on #12224
How are you thinking of changing the v128.const behavior? I don't think it should matter what non-constant lanes are filled with when emiting a v128.const.

[2020-09-30 19:27] omnisip commented on #12224
If you want it to match, shouldn't you fill those spots with undefined values?  Is that acceptable per the proposal?

[2020-09-30 19:53] #12353 closed

[2020-09-30 20:04] kripken commented on #9527
Hmm yes, it might be easier now, good point...

[2020-09-30 20:05] thstart opened #12384 "How to use Golang to generate Wasm having a shared library?"
I would like to use Golang to generate Wasm. Golang has this capability
but there is no way to expose just a function like in C:

int sum(int a, int b)
{
 return a + b;
}
#include <stdio.h>
extern int sum(int a, int b);
int main() {
    printf("%d\n", sum(39, 3));
    return 0;
}
and then:
emcc -s EXPORTED_FUNCTIONS="['_sum']" sum.c -O3 -o sum.wasm

Following:
Calling Go Functions from Other Langu

[2020-09-30 20:07] sbc100 commented on #12384
This sounds like a questions for the golang WebAssembly project which is not related to emscripten.

[2020-09-30 20:10] thstart commented on #12384
Thank you - there is no way to submit arguments to Golang wasm fictionality right now.

Is it possible when I have a shared sum.so library to use emcc or any other way to generate wasm?

[2020-09-30 20:21] mmcparlane commented on #12376
I can see two primary scenarios for Windows with detection at emsdk-activation time:

1. Within Cmd running  `emsdk activate` ensures that the current environment _is not_ supposed to be run with configure/make style builds (due to the dependence on Unix utilities not present by default on Windows). It may use other build systems like CMake though. This will set paths using the system "\\" delimit

[2020-09-30 21:37] tlively commented on #12224
WebAssembly doesn't have a concept of an undefined values, so LLVM has to choose some arbitrary value to fill in for `undef` when emitting WebAssembly. Usually 0 is a reasonable default, so that's what the v128.const code uses (and also what this new code uses). The only reason to use some other value is if doing so has additional benefits, such as reducing the number of instructions emitted like

[2020-09-30 22:08] miladfarca opened #12387 "Clarifying endianness dependency of emscripten"
Hello,

It seems like Big Endian machines are not able to use emscripten, as assertions are added in this commit:
https://github.com/emscripten-core/emscripten/commit/f178541b91624d0f9d02da8fc9884b38684f3d39

I understand that there are problems when it comes to "Typed Array" in Javascript since they are endianness dependent,
however, WASM is little endian enforced. Runtime compilers such as `Goog

[2020-09-30 22:37] omnisip opened #12389 "Can't run emscripten compiled module with pthreads on node.js 14.10.1"
Code previously executed without pthreads;

Compiler options:
em++ -g3 -O3 -s PTHREAD_POOL_SIZE=8 -s USE_PTHREADS=1 -s ALLOW_MEMORY_GROWTH=1 -s ASSERTIONS=1 -s MODULARIZE=1 -msimd128 -mavx  -s EXPORTED_FUNCTIONS='[_rgba2y, _malloc, _free, _computeSumMatrixForwardSimd2PassAll]' -s EXPORTED_RUNTIME_METHODS='[ccall, cwrap]' -I. -o rgb2y-sample.js rgb2y-sample.cpp

[code]

[2020-09-30 22:43] kripken commented on #12348
I think it would be reasonable to make it `!=` as you suggest @Beuc . The use case sounds valid to me. My only concern is breaking other users, and it seems a little hard to predict that. Perhaps this should be an optional flag somehow?

[2020-09-30 22:45] sbc100 commented on #12376
But is using windows python from MinTTY really the "wrong python".    For example I often use msys2 shell that somes with git for windows and run emscripten and emsdk within it using windows python.   Are we saying that if you want to run a python tool in the git shell it should be considered wrong to use windows python?

[2020-09-30 22:46] sbc100 commented on #12376
Sorry I just read your note which clarifies this.

[2020-09-30 22:47] sbc100 commented on #12376
Also when running in msys mode is it impossible to run `.bat` files directly with `subprocess`?   i.e. what is wrong with calling the `.bat` files in this mode?

[2020-09-30 22:49] sbc100 commented on #12384
I would assume that `sum.so` is a native shared library .. and that when one builds for WebAssembly you would need to output WebAssembly directly.    I can't see any way one would convert a native `.so` file to WebAssembly.

[2020-09-30 22:58] kripken commented on #2963
@vadimkantorov I'd forgotten about it too - yes, I think it can help here. If you look into it and it does, a documentation PR would be great!

[2020-09-30 23:03] omnisip commented on #12389
testrunner-sample.js code:

[code]

[2020-10-01 00:25] #12295 closed

[2020-10-01 00:30] kripken commented on #12389
Hard to tell what could cause this without the full code, or a stack trace from the `TypeError: Module is not a function` error (that's where I'd start to investigate this).

We do test on node 12.18 on CI, so that's a possible difference, but I do test with 14.10 locally and am not aware of differences.

[2020-10-01 00:31] omnisip commented on #12389
It's coming from the onload function of .worker.js

[2020-10-01 01:38] #9253 closed

[2020-10-01 04:06] omnisip commented on #12389
The issue comes from here rgb2y-sample.worker.js.  It cannot get past that Module(Module) line since the Module is defined as an object in the file.  Snippet below.  [Gist here](https://gist.github.com/omnisip/518f5ce2f52619a62f7aae60894abdb8)

[code]

[2020-10-01 11:57] mmcparlane commented on #12376
Looks like the bat files can be executed but it does not end up setting any environment variables. Also, as it stands, when I execute the bat file it seems to be confused about the platform and prints the "setting environment variables" message expected by Windows systems _and_ Unix systems. In addition, when sourcing the `emsdk_env.sh` file there is an error message printed complaining about a du

[2020-10-01 12:15] miladfarca commented on #12387
Hi @kripken, would you have any suggestions on this issue?

[2020-10-01 12:46] kripken commented on #9559
It's been a year, so probably the Safari fix has been released, we've gotten no additional reports.

[2020-10-01 12:46] #9559 closed

[2020-10-01 13:59] KhushalPShah commented on #12216
Can I work on this Issue?
I am new to open-source, and this being tagged as good-first-bug, I would like to solve this.

[2020-10-01 15:06] sbc100 commented on #12376
I believe that crash only happens if you have msys2 python in your PATH before windows python right?  If you have windows python first it works, right?

[2020-10-01 15:08] sbc100 commented on #12376
I think it would be great to get some minimal testing on the emsdk CI with msys python if you feel like adding any.

Right now we do some testing in the msys shell (I believe its the one that comes with git for windows) but that environment doesn't contains python AFAICT.

[2020-10-01 16:18] mmcparlane commented on #12376
It seems to be an issue with the `emsdk.py` script where it detects environments. Because msys2 is a hybrid environment, both the `WINDOWS` _and_ `MSYS` (or `MINGW` ) need to evaluate to `True`. And as it stands, on MinTTY python, `os.name == 'posix'` will return `True` and so in the following block the system gets confused to be Linux.

Difference in os.name based on python flavour:
[code]

From

[2020-10-01 16:31] kripken commented on #12389
Does using `-s EXPORT_NAME=OtherName` to use a different export name help?

[2020-10-01 16:38] mmcparlane commented on #12376
After removing the the `or os.name == 'posix'` it fixed the issue with sourcing the `emsdk_env.sh`. The build is now failing due to paths per our discussion. So, I will turn to that fix over next couple days and see where it ends up.

[code]

[2020-10-01 16:45] sbc100 commented on #12376
Would you consider making a patch to emsdk to fix the first issue?

[2020-10-01 16:56] mmcparlane commented on #12376
Yep! On it now.

[2020-10-01 17:19] omnisip commented on #12389
Yes.  It appears that the bug exists when EXPORT_NAME isn't provided.

[2020-10-01 17:19] stephanreiter opened #12395 "Unhandled promise rejection if WASM binary cannot be downloaded and ASAN is on"
I have an automated test that verifies that my application gracefully handles the situation when we fail to download the WASM binary. I noticed, that my test doesn't work due to an unhandled promise rejection if I run the test after having configured Emscripten with ASAN.

I've traced this to the Promise.all call in instantiateAsync in preamble.js:
https://github.com/emscripten-core/emscripten/blo

[2020-10-01 17:35] stephanreiter opened #12396 "Unhandled promise rejection if initialization of a global variable causes an invalid memory access"
C++ code i compiled to WebAssembly (with MODULARIZE=1) had a bug that caused an invalid memory access when a global variable was constructed. In the web browser I saw an error on the console, but it appeared as an unhandled rejection coming from instantiateAsync. My app also kept waiting for the wasm module promise to resolve, but it never did.

[2020-10-01 17:36] stephanreiter commented on #12396
I think this can be fixed by returning from instantiateAsync the promise chain from fetch(...) at https://github.com/emscripten-core/emscripten/blob/1344736d91bae431e828b6111a74c7abfd62ebec/src/preamble.js#L986
And then handling rejection of instantiateAsync by calling abort to reject the wasm module promise, followed by err to log the error rethrown by abort: instantiateAsync().catch(abort).catch

[2020-10-01 18:30] kripken commented on #12387
@miladfarca Correct. Any time there is any JS - and there is by default, as wasm can't access Web APIs itself - then this is an issue.

The only solutions are either

1. Use [standalone mode](https://v8.dev/blog/emscripten-standalone-wasm) (no JS, or you write the JS yourself - not recommended if you use any non-trivial amount of JS APIs from the wasm), or
2. Add support for big endian code in ems

[2020-10-01 19:16] r-pankevicius commented on #12161
Another observation: when (in sources folder) after first compilation I run a "grant all users access to all files in this folder" command once:
`icacls . /q /c /t /grant Users:F`
then consequent changes to the source file (hello.c) will keep permissions to output files the same as they were before.

So it is enough to apply this workaround once and forget about it for a long while. Because typica

[2020-10-01 20:01] vadimkantorov commented on #4952
Also stumbled on this. Since IDBFS is often used for cache, a purge operation would be very useful @kripken

[2020-10-01 20:15] mmcparlane commented on #12376
Regarding the msys2 python—based on the docs CircleCI already uses msys2 so my hope is that simply requires running `pacman -S python` to install python into the MSYS2 environment.

https://circleci.com/docs/2.0/hello-world-windows/#software-pre-installed-in-the-windows-image

[2020-10-01 20:55] miladfarca commented on #12387
@kripken Thanks for clarifying. It's not a specific project we are trying to support, rather we are trying to support BE architectures in general. Nodejs and V8 support big endian platforms and we are seeing endianness problems with modules similar to `eslint-plugin-jest`.

In terms of adding support using DataView, is this something we could contribute or emscripten would be able to add the chang

[2020-10-01 20:56] sbc100 commented on #12376
I hope that works!   I imagine they simply piggy back on the fact the it comes with git.. but we will see.. maybe pacman also comes with git?

[2020-10-01 21:31] omnisip opened #12400 "Expected Pthread Pool Behavior / PROXY_TO_PTHREAD with Node.JS"
Hi there,

I'm totally at a loss on what to expect for pthread behavior with my application.  I'm using emscripten to implement a wasm module that acts as a portable SIMD library for performing operations.  The library calls from Node.JS are designed to be synchronous and leverage memory passing.  Inside the library, I'm spawning threads to expedite the operations (performing prefix sums and conve

[2020-10-01 22:11] brion commented on #12387
I think some web APIs like WebGL in particular would be more difficult as they'd have to convert data back and forth, knowing which buffers contain what kind of data. However this may be moot, if BE arches are mostly a mainframe/server thing that run node, not browsers.

[2020-10-01 22:40] miladfarca commented on #12387
@brion correct, at this point we are only concerned with Node.js and server related processes and as you mentioned WebGL should not be an issue.

[2020-10-01 22:52] danchitnis opened #12402 "Asyncify and postRun()"
I noticed that when using Asyncify, the `Module.postRun()` only runs once after the first call of `emscripten_sleep()`. Is this behaviour expected? Ideally we want the `postRun()` to run after then `main()` function returns and the programme exits, not when an async function called. Otherwise I don't know when my programme has exited to do my clean-up routines. Thanks.
Amazing work with Emscripten

[2020-10-01 23:49] curiousdannii commented on #12402
You might be able to use `addOnExit()` instead, if you compile with `EXIT_RUNTIME`.

[2020-10-02 02:21] mmcparlane commented on #12376
I figured out how to get the environment set up. It's a little roundabout: use chocolatey to install msys2 and then use msys2 to install python via pacman. Then the `source emsdk_env.sh` can happen (similar to how python gets invoked in the example) and output checked, or whatever.

Below is a link to an example yaml file (but I ran out of credits so can't do any more tests on Windows at the momen

[2020-10-02 06:08] curiousdannii opened #12406 "Don't install optional npm dependencies?"
Following on from https://github.com/emscripten-core/emsdk/pull/625

The platform specific Closure Compiler packages are now huge - adding about 180MB to the compressed download size of emsdk.

But these platform specific packages are marked as optional, so it should be possible to exclude them.

They are present in the package-lock.json file - I don't know if that is being automatically or manual

[2020-10-02 06:36] sbc100 commented on #12406
Is generated by `npm`.    I imagine this is an issue with upstream google-closure-compiler which grew is size in a way that seems like it must be bug.

If you think we are not managing the `package-lock.json` please advise, but its not manually edited no.

[2020-10-02 06:39] sbc100 commented on #12406
interesting.. it looks like that command we use in emsdk (`npm ci`) does install optional deps, but the normal `npm install` does not.

I wonder what risks if any there would be in using `npm install` over `npm ci`?

[2020-10-02 06:50] sbc100 commented on #12406
I just found `npm ci --no-optional`... certainly makes a huge differece:

[code]

Wow... can that be real.

[2020-10-02 06:52] sbc100 commented on #12406
Looks like that mode skips all the native closure compiler builds :(

Looks like just `npm install` does the right thing and just install the `linux` one.. kind a half way between the `npm ci` options:

[code]

[2020-10-02 07:00] curiousdannii commented on #12406
My understanding (rather limited) is that `npm ci` just looks at package-lock.json, whereas npm install looks at both it and package.json. I hadn't noticed that package-lock.json does say whether a package is optional or not, so that seems like a good option. And, these closure compiler packages are the only optional ones, so nothing else will break unexpectedly. :)

Will making a change to how em

[2020-10-02 07:08] npip99 commented on #10957
@sbc100 I followed those instructions, but when passing in `-Wl,--import-memory`, I get a 4.24 MB wasm file. Without --import-memory, it's only a 49 kb wasm file. Something seems wrong, is it supposed to increase the filesize 1000-fold?

[2020-10-02 11:38] mejedi commented on #12341
@kripken

I need more time. WASI is not feature complete to implement even the basic POSIX-y filesystem support (ex: lacks the notion of current working directory). Furthermore, at least some of the WASI runtimes do not normalise mapped directories: you might end up with `/foo/../bar/.` or `.` in pre-opened directories. Should libc normalise them internally or not? The workarounds I have make sens

[2020-10-02 13:14] CD3 commented on #12219
I know this issue was opened on the exit status, but there are some good comments on re-initializing memory before each run that are the only thing I have found that address the problem I am having.

I think it would be very useful to have a way to "force-free" memory that was dynamically allocated by the module during a call to main. I am compiling gnuplot to wasm (https://github.com/CD3/gnuplot-

[2020-10-02 13:16] vadimkantorov commented on #12219
@CD3 One way that worked for me was to record memory state (HEAPU8) before the run and then set it again to saved state using HEAPU8.set before the next run. But freeing all malloc'ed segments could be a faster way, yep!

[2020-10-02 13:19] vadimkantorov commented on #12219
You can see it in action at https://github.com/vadimkantorov/busytex/blob/master/busytex_pipeline.js#L185

This currently assumes a fixed total memory and holds on a copy of total memory (doubling the RAM requirement). Maybe even just setting HEAPU8 to zero may work. Or saving only non-zero, used segments of memory, and resetting the rest to zero.

[2020-10-02 13:19] CD3 commented on #12219
@vadimkantorov Would you mind providing a snippet? I don't do much low-level programming, so sifting through the memory model has been difficult.

[2020-10-02 13:20] CD3 commented on #12219
Ah, great. Thank you.

[2020-10-02 14:35] Beuc commented on #12348
I got time to make more tests so I now do not suspect, but confirm, that the change I proposed fixes this issue.

I can't think of a use case that relies on exploiting this bug, in particular because the effect (missed IDBFS update) is only effective on reload -- though admittedly people can be "creative" ;)

I opened #12409 to initiate the discussion and run the testsuite.

[2020-10-02 14:43] cwoffenden commented on #12118
Spending a little more time with this (since it's still happening in 2.0.5) I got it down to changes between 1.39.16 and 1.39.17:
[code]

[2020-10-02 15:18] CD3 commented on #12219
@vadimkantorov Thank you, that worked for me.

[2020-10-02 15:22] #12395 closed

[2020-10-02 15:29] sbc100 commented on #12406
Yes CI covers that.

[2020-10-02 15:51] cwoffenden commented on #12118
I believe it's to do with the cache changing from the user's home to Emscripten's dir (so probably occurred in #11126, or the changes around that). Testing with 2.0.5 I can do this, as above, which fails:
[code]
But then if I manually set the cache to what it used to be, then it works:
[code]
This is repeatable.

My EMSDK root (`C:\Emscripten` on this Win10 machine) is writeable.

[2020-10-02 15:51] sbc100 commented on #12118
@cwoffenden thanks for narrowing it down!  Sorry nobody has had time to look into this yet.

If you want to narrow it down even further you can checkout emscripten form git and bistect between those two tags to get a specific emscripten commit that causes this.

[2020-10-02 15:55] cwoffenden commented on #12118
I think we both just posted at exactly the same time! I narrowed it down to `EM_CACHE`. Next week I can narrow it down to the commit

[2020-10-02 16:07] sbc100 commented on #10957
Yes please open a bug report, although passing `-Wl,--import-memory` is not really configuration we support officially.

I imagine the size difference is down the `.bss` data (zero initialized data)  but we could need to take a look at the two binaries to know for sure.   What does `wasm-objdump` tell do you?  Do you have a lot of uninitialized global data in your program?   Lets discuss on the ne

[2020-10-02 16:39] cwoffenden commented on #12118
Narrowing it down further, the change in #11126 seems to be only a part of it. Changing it back alone isn't enough, it also needs `EM_CACHE` unsetting. So I'm guessing it's more to do with `EM_CACHE` and #11126 is just what shows it.

[2020-10-02 17:01] kripken commented on #12387
A contribution would be great! It shouldn't be too hard I think. The key thing would be to write a transformation pass on the acorn AST, see for example the [`growableHeap` pass](https://github.com/emscripten-core/emscripten/blob/72ae06999eec38ab9386a01aa5ba8587ee9e1a19/tools/acorn-optimizer.js#L969). That pass changes each `HEAP8` etc. usage into a function call. For this, I think we'd want to do

[2020-10-02 17:15] kripken commented on #11303
Do you mean in general?

We don't use terser for minification. In `tools/acorn_optimizer.js` it's used to convert an acorn AST to JS (so it's in support of the passes in that file, which are almost all not minification-related). Maybe there's a better way or simpler tool for that? I remember I couldn't find one at the time.

[2020-10-02 17:27] kripken commented on #12355
Sounds good, I think we have agreement on adding such a new function from that prior discussion.

[2020-10-02 17:32] kripken commented on #11554
@RReverser Interesting idea!

I think it could work. It may be best to just do that all the time, to avoid an extra setting and the complexity of different code paths for this.

[2020-10-02 17:42] kripken commented on #12093
@vadimkantorov

You wouldn't use `this`, since these functions will all be top level functions.

But in the simple case where it's just an alias - so it just calls the other function, with the param, and returns the result, as you wrote - then `uuid_generate_random: 'uuid_generate'` should do exactly what you want, the JS library logic turns such a string into the code you wrote, automatically.

A

[2020-10-02 18:14] kripken commented on #4952
I agree it would be nice to add a helper function for this on IDBFS, reopening.

[2020-10-02 18:45] RReverser commented on #11554
Hm, maybe...

On one hand, creating workers is somewhat expensive as they have to be fetched & spawned. In this case a pool option might be helpful to squeeze a bit more of performance, as it creates all of the Workers at the startup in parallel with other runtime deps.

On the other hand, perhaps with correctly set caching it doesn't matter that much.

[2020-10-02 18:47] RReverser commented on #11303
@kripken Ah, that's what I thought after looking at the code. Yeah, there is https://github.com/estools/escodegen which, among other ESTree tools in that org, was created specifically as a simple AST-to-JS generator. It should be both simpler and much faster than going via all Terser's conversions.

[2020-10-02 18:51] RReverser opened #12410 "Switch from Terser to escodegen"
Raising an issue for tracking: such switch should simplify and speed up code generation, and allow us to avoid custom patches we have in Terser.

Background (https://github.com/emscripten-core/emscripten/issues/11303#issuecomment-702853752):

[2020-10-02 18:51] RReverser commented on #11303
Raised a tracking issue: https://github.com/emscripten-core/emscripten/issues/12410

[2020-10-02 18:56] RReverser commented on #12410
Semi-relevant: I've noticed we also have `uglify-js` in `third_party`, which is an older version of `terser`. I don't suppose we need both of these either?

`uglify-js` seems to be used only in `tools/js-optimizer.js`, which, in turn, doesn't seem to be used anywhere aside from one test? Am I missing external usages or can it and uglify-js be both removed? cc @sbc100 @kripken

[2020-10-02 18:57] kripken commented on #12410
Would be good to experiment with!

When I implemented the [initial acorn integration](https://github.com/emscripten-core/emscripten/pull/7973) I wrote this:

Perhaps things have changed since then, worth checking.

[2020-10-02 18:58] kripken commented on #12410
`tools/js-optimizer.js` has a bunch of optimization passes that still use uglify. Hopefully they can get rewritten for acorn eventually.

[2020-10-02 18:58] RReverser commented on #12410
escodegen has options for formatting - you can either output pretty-printed code, or a compact one.

Of course, it will never match Terser's minified output, but IIUC from your comment the original issue, that's a non-goal anyway, since we use Closure Compiler for proper minification.

[2020-10-02 18:59] RReverser commented on #12410
Can it be switched to Terser at least? They should be API-compatible, and, for now, it would at least get rid of one old-ish dependency.

[2020-10-02 19:00] cwoffenden commented on #12118
While I remember: between tests I was deleting the entire Emscripten folder (so `C:\Emscripten\upstream\emscripten` in my examples).

[2020-10-02 19:01] sbc100 commented on #12410
I'm a big fan of any kind of cleanups / simplifications that can be done in this area!

[2020-10-02 19:01] sbc100 commented on #12410
Specifically if we can delete another checked in module from third_party I would be very happy.

[2020-10-02 19:06] RReverser commented on #12410
I actually just noticed that we never had them documented on the wiki page apparently. That's odd, but just added for visibility: https://github.com/estools/escodegen/wiki/API#optionformat

[2020-10-02 19:08] RReverser commented on #12410
Okay, but where is it called from? I can't find a single place that would use it aside from one test...

[2020-10-02 19:09] kripken commented on #12410
Well, there is more here... See the full context in the link there, I just quoted one sentence, which was maybe not clear enough, sorry. To summarize the context too, we do expect closure to be used when code size is absolutely critical. But we don't run closure by default, due to speed and also that it may break custom code a user adds that isn't closure-safe. And the breakage issue means that so

[2020-10-02 19:11] RReverser commented on #12410
Makes sense. I guess worth experimenting with `FORMAT_MINIFY` quoted above and comparing final JS+gzip numbers on some real codebase to see how much we'd lose by leaving Terser.

As for the Closure breaking the code - it should be happening only under advanced optimisations, right? In a "simple" mode it does pretty much the same things as Terser does.

[2020-10-02 19:14] kripken commented on #12410
Hmm... `tools/js_optimizer.py` calls `tools/js-optimize.js` to run passes. And the python should be called from `emcc.py`. But it looks like we removed it... which was 99% correct, but I think we removed too much @sbc100 ! We should be calling it to run `safeHeap`, for example. That means we've lost SAFE_HEAP coverage on custom user JS code :sob:

I'll look into fixing that!

[2020-10-02 19:15] RReverser commented on #12410
Heh, glad we found it I guess 😅

[2020-10-02 19:18] sbc100 commented on #12410
But how was it possible we removed too much?  Do we lack test coverage?

[2020-10-02 19:45] kripken commented on #12410
I'm still looking, but I'm pretty sure the wasm backend path never applied safe heap on user code, and yes, we lacked a test so this was missed...

[2020-10-02 19:50] kripken commented on #12410
Oh, and the other place we use `js_optimizer.py`, which exists and is correct, is for wasm2js, in `building.py` (`def js_optimizer` etc.).

[2020-10-02 21:16] vadimkantorov opened #12415 "nanosleep autoconf check hangs forever"
I tried to build [GNU diffutils](https://www.gnu.org/software/diffutils/) with emscripten
[code]

During an out-of-tree configure, this nanosleep check hangs forever.

Here is a zip with conftest.c:
[diffutils.zip](https://github.com/emscripten-core/emscripten/files/5320262/diffutils.zip)
[code]

[2020-10-02 21:36] vadimkantorov commented on #12415
`sleep` check also hangs forever:
[code]

[code]

[2020-10-02 21:37] vadimkantorov commented on #12415
maybe it's actually a problem with signals

[2020-10-02 23:24] curiousdannii commented on #12406
The Dockerfile only needs to cover linux right? What if it manually installed `google-closure-compiler-linux` after `npm ci --no-optional`? That would cut ~90MB from the compressed size.

[2020-10-03 10:07] vadimkantorov opened #12424 "How to call emmake to pass down MAKEFLAGS"
I have a main Makefile that build a few Emscriptenized tools. Inside I call `emmake make`, but this does not pass down root MAKEFLAGS (parallel build), since `$(MAKE)` must be used. If I pass `MAKEFLAGS` explicitly, it creates some bogus `-j` makeflag if no MAKEFLAGS were actually passed to the main make.

Is there an accepted way of passing down MAKEFLAGS to submake? Should I use `emmake $(MAKE)`

[2020-10-03 14:51] rsielken commented on #12035
I updated to 2.0.5 to pick up this fix and the test case passes for me also.  Thank you for the fix.

[2020-10-03 15:03] rsielken opened #12425 "InternalError: too much recursion,__emscripten_pthread_data_constructor on EMSDK 2.0.5 (2.0.3 was fine)"
We updated from EMSDK 2.0.3 to 2.0.5 to pick up the fix from https://github.com/emscripten-core/emscripten/issues/12035.  The test case from 12035 was verified as fixed.  However, our main application builds cleanly but gets this at startup all the time now:

[code]

I get this same error and stack in Firefox 70, 78 and 80 which were all working with 2.0.3.  Chrome 85 doesn't give me the stack; I

[2020-10-03 16:19] kripken commented on #11554
Thinking some more on the idea of creating a thread for thread creation, it's similar to what `PROXY_TO_PTHREAD` does, but also allows keeping `main()` on the main browser thread. That's an advantage in one way, but it will also be a disadvantage in responsiveness overall, since `PROXY_TO_PTHREAD` moves all non-essential things off the main thread. So I think it would be best to focus on promoting

[2020-10-03 16:20] npip99 commented on #11175
It would be nice to see emscripten as a complete .wasm file / a single executable, that can take C++ as input and output wasm. I would use [pkg](https://github.com/vercel/pkg#readme) as opposed to electron though. Electron is for porting the entire browser environment, pkg is for only nodejs apps.

[2020-10-03 16:54] RReverser commented on #11554
Yeah that sounds like a good summary. I found this mode simpler at least when used outside of Emscripten, because one doesn't need to worry at least about all the APIs that are only available on the main thread, but you're right that since `PROXY_TO_PTHREAD` exists, we can just route users there. Will it proxy a thread creation though or would it similarly block the "main" thread?

[2020-10-03 17:20] RReverser commented on #10818
@sbc100 I stumbled upon this issue while debugging same error (missing `sys/cdefs.h`), and I'm not sure I understand the resolution here. Are you saying that users should include `sys/cdefs.h` from a system directory (`.../include/x86_64-linux-gnu`)? It seems counter-intuitive that it's not part of the `emscripten/system`, especially given that it contains platform-specific definitions.

[2020-10-03 17:39] kripken commented on #11554
Yes, it proxies thread creation. At least, when possible - when you want to transfer a Canvas, it has to use postMessage. I see the docs don't mention this, I'll fix that.

[2020-10-03 18:23] mmcparlane commented on #12376
Please see associated PR for added msys2 tests in emsdk. Once those are vetted/merged a similar set of changes could be added in the emscripten repo.
https://github.com/emscripten-core/emsdk/pull/631

[2020-10-03 19:17] Shachlan commented on #12355
https://github.com/emscripten-core/emscripten/pull/12426

[2020-10-03 19:51] aykejriw commented on #10868
@kripken I would like to take this issue.

[2020-10-03 21:17] lovasoa opened #12427 "Update the documentation for the "allocate" function"
In the documentation, `allocate` has the  signature `allocate(slab, types, allocator, ptr)`

However, it looks like the `type` argument has been removed :

https://github.com/emscripten-core/emscripten/blob/2.0.5/src/preamble.js#L205-L236

[2020-10-03 21:39] kripken commented on #10868
@aykejriw Sure, a PR would be great!

You might find https://emscripten.org/docs/getting_started/test-suite.html helpful to get started. And the relevant suite of tests is in `tests/test_other.py` which has a bunch of LTO tests already (like `test_wasm_backend_lto`). Let us know if you have any questions.

[2020-10-03 23:30] kaizhu256 opened #12428 "discussion - feasibility to integrate `https://wicg.github.io/file-system-access/`"
a serious limitation of downstream libraries like sql.js is inability to persist largish databases (e.g. 1gb) to local filesystem.

that might finally be overcome with newly proposed https://wicg.github.io/file-system-access (note spec's motivation appears mainly saving data in web-editors and ides).
they have an [experimental demo here](https://googlechromelabs.github.io/text-editor/)

feasibilit

[2020-10-04 04:08] #1847 closed

[2020-10-04 04:08] #9331 closed

[2020-10-04 18:47] mmcparlane commented on #12376
Found another potential issue with msys2 builds. On my system at the moment I have an EMSDK installed in `C:\Emsdk` which I used to download precompiled LLVM, Node, JRE, etc. I also cloned a separate emscripten branch (which I'm using to make changes) into `C:\Users\mtmcp\Documents\emscripten`. In order to avoid recompiling those dependencies, I added them to a custom `.emscripten` file (note: con

[2020-10-04 20:07] vadimkantorov commented on #12093
I created a PR, but haven't tested it locally at all :(

[2020-10-04 20:39] DhairyaBahl commented on #12369
I would like to work on this issue. Kindly assign it to me.

Thanks

[2020-10-04 22:08] #9390 closed

[2020-10-04 22:08] #4436 closed

[2020-10-04 22:08] #9361 closed

[2020-10-04 22:30] chadaustin commented on #11871
@prideout I'd be in favor of such a pull request.

[2020-10-05 09:00] #9362 closed

[2020-10-05 12:54] panuhorsmalahti commented on #8400
If you want to use jsdom to test wasm, you can mock the fetch function to return the .wasm file. I used "jest-fetch-mock" for this.

[code]

[2020-10-05 16:20] VivianoRiccardo opened #12432 "Websocket server failed"
Hi,
I tried to implement the tests https://github.com/emscripten-core/emscripten/blob/master/tests/sockets/test_sockets_echo_server.c and https://github.com/emscripten-core/emscripten/blob/master/tests/sockets/test_sockets_echo_client.c with a lot of modifications making them multithreading and with sempahores. In C they both work using websockify as websocket bridge, even the client side works wh

[2020-10-05 16:52] kripken commented on #12415
Looks like the sleep is for 50 days, so it never stops, and is never interrupted since we don't have signal support.

The issue is probably that we should fail with a compile-time error on not having the signal functions - but they have been useful for porting, which is why they exist, so I'm not sure what's best here.

[2020-10-05 17:08] vadimkantorov commented on #12415
Maybe emulate alarm function / timer specifically? It should be possible
with something like asyncify?

Le lun. 5 oct. 2020 à 18:52, Alon Zakai <notifications@github.com> a écrit :

--
Vadim Kantorov
+33 6 03 29 27 69

[2020-10-05 18:37] kripken commented on #12400
Do you mean that you create pthreads and stop using them - and they exit with `pthread_exit` normally - but they are not made available in the pool again? That sounds like a possible bug. I'd check if it happens in the browser, as that is more heavily tested - if it works there, it may be a bug specific to the node integration.

`PROXY_TO_PTHREAD` should also fix this, as it allows synchronous cre

[2020-10-05 18:44] omnisip commented on #12400
That is exactly what happens.  The pool of the threads will disappear in a 2 pass algorithm that spawns threads in each pass.  Even though all the threads were used in the first pass, they exit and don't return to the pool for the second pass.

[2020-10-05 19:43] Quuxplusone commented on #11123
(I got here from https://bugs.llvm.org/show_bug.cgi?id=43709 .)
Do you have a link to the code you were trying to write (as opposed to the reduced test-case)? The general rule is that classically polymorphic object types (types with inheritance hierarchies) should not do _any_ value-semantic operations (copy, move, swap, assignment...), so if you're trying to subtly disable such operations by retu

[2020-10-05 20:56] kripken opened #12433 "Read a va_arg when there isn't one / fcntl reading from address 0"
fcntl begins with
[code]
It is valid to call `fcntl(x, y);` that is, without the third parameter. In that case, the wasm code receives a `0` for the last parameter that usually points to the varargs buffer. So this musl code ends up reading an `unsigned long` from address 0, which `SAFE_HEAP` marks as an error.

Other notes: This does not error in asan mode as asan ends up not instrumenting that l

[2020-10-05 21:05] sbc100 commented on #12433
Based on reading the man page for `fcntl` and for `va_arg` it looks like a bug to me:

fcntl:

[code]

It looks like fcntl should look at cmd first before deciding to try read any thing from va_list.

And va_arg:

[code]

So it sounds like calling va_arg when there is nothing to read is undefined behaviour.

[2020-10-05 21:23] yeputons commented on #11123
Sure, here it is: https://github.com/think-cell/tcjs/blob/b14f41fe2478cc32bbe32138e911056091540880/bootstrap/include/js_callback.h#L250

The relevant test case failing is here: https://github.com/think-cell/tcjs/blob/b14f41fe2478cc32bbe32138e911056091540880/examples/CallbacksTest/main.cpp#L146

I provide some explanation and details in a self-contained StackOverflow answer (hopefully that will gai

[2020-10-05 21:50] #12356 closed

[2020-10-06 01:33] Quuxplusone commented on #11123
I forked the repo thinking I'd be able to submit a PR relatively quickly, but boy was I wrong. I'd say there are several layers of wrongness going on here.

You define a base class `IObject` and a derived class `IJsFunction<T>` — okay, this part is good classical polymorphism. You define `js_function<T>` as an alias for `js_ref<IJsFunction<T>>` (and `js_object` as an alias for `js_ref<IObject>`) —

[2020-10-06 01:40] sbc100 commented on #12400
Just checking, do you join with your used threads?  Or set them as detached?  I would imagine that have have to do one or the other before they can be recycled in the pool.

[2020-10-06 01:46] sbc100 commented on #12415
How about failing at link time with an error like `build with -s FAKE_SIGNALS if you want fake signal support`?   or do you think we want the portable fake signals on by default?

[2020-10-06 01:52] omnisip commented on #12400
std::async. I join on the futures and the tasks finish.

On Mon, Oct 5, 2020, 19:41 Sam Clegg <notifications@github.com> wrote:

[2020-10-06 02:42] sbc100 commented on #10818
No.. the problem where was that the OP was adding a system include path (.e.g `-I/usr/include/xxx`) and the files included via that incorrect path themselves were looking for `sys/cdefs.h`.

As far as I know `sys/cdefs.h` is not part of musl or emscripten.   Do you have a project that wants to include this file directly?

[2020-10-06 02:46] sbc100 commented on #12425
Looks related to `ABORT_ON_WASM_EXCEPTIONS`.   if you drop that flag does it start working?

[2020-10-06 02:49] sbc100 commented on #12424
I would have though `emmake $(MAKE)` was the solution... does that not work?

[2020-10-06 04:40] sbc100 commented on #12110
There have been a couple of recent fix on the llvm side that might address this.

Could you try again with the `tot` emsdk release?

[2020-10-06 04:41] sbc100 commented on #12110
If it still happens could you zip up the input files at attach to this ticket?

[2020-10-06 07:39] yeputons commented on #11123
Btw, if you have time and/or interested, I'd be happy to bring this discussion to Telegram/Skype/whatever so I can walk you through the relevant part of the project and give better context on what is going on, feel free to write me on my `@gmail.com` email from GitHub commits.

I'm not sure I'm not getting buried in needless details (and actually off-topic for this issue), but still.

Not really,

[2020-10-06 07:40] gerald-dotcom opened #12440 "Overhead of VAL?"
Are EM_VAL calls has overhead or V8 already optimized those?

[2020-10-06 09:17] DhairyaBahl commented on #12369
@sbc100 Can you guide me a bit. I have installed emsdk from github to run emscripten in my local environment but I am having few difficulties. I am unable to run any command in emsdk. I have read contributing.md and readme file about emsdk but unable to solve errors.

Thanks :)

[2020-10-06 09:20] tklajnscek commented on #12425
Yeah, looks like you hit this which causes wrong functions to be called:
https://github.com/emscripten-core/emscripten/pull/12441

Does it work if you take `preamble.js` from that PR?

[2020-10-06 09:21] tklajnscek commented on #12425
Yeah, it looks like you hit this which causes wrong functions to be called: https://github.com/emscripten-core/emscripten/pull/12441

Does it work if you take `preamble.js` from that PR?

[2020-10-06 10:47] #8121 closed

[2020-10-06 10:47] #9392 closed

[2020-10-06 10:53] RReverser commented on #10818
@sbc100 I did have one when asking the question, but when I tried to comment out that `#include`, it still works... so I guess not really necessary.

[2020-10-06 12:50] vadimkantorov commented on #12415
Also, adding busybox to tests could be a nice thing since it builds so many things under the hood: like in https://github.com/tbfleming/em-busybox/commits/master

[2020-10-06 12:58] PowerNow opened #12444 "Why leads SDL_CreateWindowAndRenderer() to wrong behaviour of a JS Slider on Mozilla?"
I justed test on the newest Chrome, Mozilla, Edge and Opera on Mobile and Desktop and get only on Mozilla Desktop a wrong behaviour using SDL_CreateWindowAndRenderer() together with an Javascript input slider. If moving the slider per mouse to left/right and then leaving again the slider jumps back to his ini value.

webassembly module
[code]
javascripte file
[code]
Has anyone an idea how I can fi

[2020-10-06 14:46] #12427 closed

[2020-10-06 15:16] sbc100 commented on #12369
It looks like we already have a potential fix in #12392 .. sorry I didn't see that earlier.

[2020-10-06 15:31] DhairyaBahl commented on #12369
@sbc100 No probs  :)

[2020-10-06 16:56] #12348 closed

[2020-10-06 18:00] lovasoa commented on #12427
Thanks @kripken 👍

[2020-10-06 18:23] kripken commented on #12427
@nokotan did the work :smile: Thanks again!

And thanks for filing this issue so it got fixed @lovasoa !

[2020-10-06 18:42] Birch-san opened #12448 "[2.0.5] `[Ref]` decoration in WebIDL binder generates non-compiling glue code"
The WebIDL binder documentation describes [exactly the scenario](https://emscripten.org/docs/porting/connecting_cpp_and_javascript/WebIDL-Binder.html#pointers-references-value-types-ref-and-value) I'd like to create glue code for.

<img width="365" alt="image" src="https://user-images.githubusercontent.com/6141784/95243290-54c6b000-0808-11eb-8af9-0016dc104dfa.png">

But I think it's **generating i

[2020-10-06 18:53] Birch-san commented on #12448
actually, this compile error appears to be pointing to a subtly different method than the one I thought it was; need to look more closely and understand which bit's complaining.

[2020-10-06 18:53] #12448 closed

[2020-10-06 20:22] kripken commented on #12387
Btw, there is a PR up to write `SAFE_HEAP` using acorn. That replaces `HEAP8` etc. usage with a call to a `SAFE_HEAP` function. An endianness fixup could do something similar (then implement the fixup functions that swap endianness) so that code may be helpful to look at for anyone interested to implement this, https://github.com/emscripten-core/emscripten/pull/12450

[2020-10-06 20:24] kripken commented on #12415
@sbc100

I think it would be ok to error on signals by default, as long as the error said exactly what to do to get the fake support (`build with -s FAKE_SIGNALS` etc.). It would be a breaking change but one that's not surprising at least.

[2020-10-06 22:17] omnisip commented on #12400
Do you still need test cases for this?  Set your PTHREAD_POOL_SIZE to 16 and try something like this:

[code]

[2020-10-06 22:20] yowl commented on #12110
Seems to still have them with `tot`.  Extract the zip and run
[e.zip](https://github.com/emscripten-core/emscripten/files/5337175/e.zip)

"E:\GitHub\emsdk\upstream\emscripten\emcc.bat" "HelloWasm.o" -o "HelloWasm.html" -s ABORTING_MALLOC=0 -s
ERROR_ON_UNDEFINED_SYMBOLS=0 -s DISABLE_EXCEPTION_CATCHING=0 --emrun "libPortableRuntime.a" "libbootstrappercpp.a" "libSystem.Private.CoreLib.Native.a"  -g3

[2020-10-06 22:45] sbc100 commented on #12110
Great.  I'll take a look.

Where do `libSystem.Private.CoreLib.Native.a`, `libPortableRuntime.a` and `libSystem.Private.CoreLib.Native.a` come from by the way?  Specifically is everything here built from source using the same version of the SDK are you are trying to use object code or libraries built with an older version of llvm/emsdk?

[2020-10-06 23:23] yowl commented on #12110
I've rebuilt them to be sure, but yes they all come from the same version of emcc.  Those are built from cpp using emcc.  HelloWasm.o is built from LLVM using emcc -c.  THis is all the wasm backend of https://github.com/dotnet/corert
[Uploading e.zip…]()

[2020-10-06 23:31] yowl commented on #12110
[e.zip](https://github.com/emscripten-core/emscripten/files/5337390/e.zip)

[2020-10-07 07:29] koushikchalla opened #12455 "Embind: Memory and reference issues with vectors"
I have a point class that holds 2d coordinates. I draw coordinate geometry on a canvas in the browser. So i'll need to read the values of the points in a vector on every redraw of the canvas, but I am having two issues. It causes a memory leak, every time I read a point in the vector at same index, i get a different pointer address and it is adding to memory even though i am not creating any memor

[2020-10-07 08:56] tri170391 opened #12457 "MODULARIZE not trigger catch block on XHR/fetch errors (CORS/Dev blocked)"
Continuation of https://github.com/emscripten-core/emscripten/issues/11451

The PR fixed most of the cases but when doing some production test I found out that the `.catch` block still not triggers in 2 cases:
- When the request failed with an `onerror` instead of with a HTTP error code, for example if I use Chrome's request blocking on Dev console or on a mis-configured CORS on hosting side.
- Wh

[2020-10-07 11:06] vadimkantorov opened #12458 "new emcc error (maybe after a recent update to tip-of-tree) when compiling fontconfig: cannot specify -o with -c/-S/-E and multiple source file"
`emcc: error: cannot specify -o with -c/-S/-E and multiple source files`

[code]

[2020-10-07 12:45] vadimkantorov commented on #12424
I'll check!

[2020-10-07 12:58] vadimkantorov commented on #12415
Maybe also alarm function could crash (this is related but not equivalent ot signal handling)

[2020-10-07 13:16] georeith opened #12459 "register_map resulting .keys() function can't be called."
To reproduce:

`register_map<int, int>("IntMap");`

Then when you try and use it in JS:

`let intmap = new Module.IntMap()`

You receive the following error:

[code]

[2020-10-07 14:51] sbc100 commented on #12458
The problem with that command line seem to be the extra `-` on its own right after `-I/mnt/c/Users/user/busytex_/build/wasm/texlive/libs/freetype2/freetype2/`.

This is telling emcc/clang to compile from stdin but you are also telling it compile `fcarch.c`... which mean two different input files.

[2020-10-07 15:05] vadimkantorov commented on #12458
Very sorry :( It is now clear, it's a simple new typo in one of my flags variables. Thanks for looking at this!

[2020-10-07 15:05] #12458 closed

[2020-10-07 16:40] arseny30 opened #12460 "How to access to FS in Module, before promise is completed?"
There was a change introduced in 1.39.16
[code]

Before the change I have been doing something like this:
[code]
So I was able to start using filesystem while webassembly code is loading and compiling.

Now `module` is a Promise and I can't access `FS` before it is completed.
[code]

Is there a wait to access FS before this Promise is completed?

[2020-10-07 17:34] diegurrio opened #12462 "MAXIMUM_MEMORY=-1"
According to the docs MAXIMUM_MEMORY=-1 means "no specified limit". In that case I think each browser should allow growth as much as it possibly can. However I"m getting this error when I specify it:
```emcc: error: invalid byte size `-1`.  Valid suffixes are: kb, mb, gb, tb```

I'm running emscripten 2.0.5

[2020-10-07 17:54] sbc100 commented on #12462
Indeed it looks like this has been broken since #11430 (4 months ago), and we don't have any tests for it :(

[2020-10-07 18:07] rsielken commented on #12425
I can confirm that EMSDK 2.0.5 (I know 2.0.6 is out but we hadn't changed again to 2.0.6 yet) with the preamble.js from #12441 (from Monday) does fix this.  I tried both with and without ABORT_ON_WASM_EXCEPTIONS=1, and that didn't matter - it was the preamble.js that mattered.

[2020-10-07 21:12] kripken commented on #12389
@omnisip Yes, that looks like a current limitation. All our tests do set `EXPORT_NAME`. I opened #12469 to at least show a clear error at compile time for this current limitation.

[2020-10-07 21:49] omnisip commented on #12389
Thanks bud. You're saving someone else a future headache.

On Wed, Oct 7, 2020, 15:12 Alon Zakai <notifications@github.com> wrote:

[2020-10-07 21:58] vadimkantorov commented on #12219
@sbc100 What does "exiting runtime" actually mean? Is it just stack canary checking?

[2020-10-07 22:07] sbc100 commented on #12219
No, it does several other things.  Off the top of my head I think it at least flushes all the output streams and runs static destructors.   Once this happens calling any native code in the module is undefined behaviour.

[2020-10-07 22:10] vadimkantorov commented on #12219
If it's just exitRuntime method from JS postamble:
[code]

[2020-10-07 22:11] vadimkantorov commented on #12219
Is it because I built it with EXIT_RUNTIME=0? Basically I need to build with EXIT_RUNTIME=0, but somehow set noExitRuntime=false :) Then hack is simpler

[2020-10-07 22:13] vadimkantorov commented on #12219
Yep, seems so

[2020-10-07 22:15] vadimkantorov commented on #12219
Is it possible to override `noExitRuntime = true`:
[code]

setting `Module['noExitRuntime'] = false` does not help

[2020-10-08 02:16] curiousdannii commented on #12406
With my PR reverted we'll need another solution for this.

[2020-10-08 02:26] kripken commented on #9574
A PR for this would still be a good I think.

[2020-10-08 03:15] curiousdannii commented on #9574
Does it really need to be included? It's such a small and simple thing to add yourself:

[code]

[2020-10-08 03:49] sbc100 commented on #12406
Can you reland with the extra architecture check?  Should take care of it.

[2020-10-08 04:29] curiousdannii commented on #12406
Okay, that turned out to be not so difficult.

[2020-10-08 08:54] tklajnscek commented on #12425
OK, that's great, hope it gets merged soon.

It should only fail with ABORT_ON_WASM_EXCEPTIONS=1 though as that code path in preamble.js that I changed won't get hit if ABORT_ON_WASM_EXCEPTIONS = 0.

Can you double check that actually passed in 0 correctly (or just omit the whole thing - it defaults to 0). You can look at the compiled output .js file - you shouldn't see `makeAbortWrapper` in it at

[2020-10-08 10:55] georeith commented on #12459
I am trying to test this on a newer version of emscripten but am hitting issues getting my code to compile:

[code]

[2020-10-08 12:36] RReverser opened #12472 "Document COOP / COEP in Pthreads support"
Browsers have agreed to gate shared memory support on COOP/COEP headers. Firefox has already shipped this in stable version, Chrome for Android will do this in M88 and Chrome for Desktop (which currently supports SAB unconditionally) will do this in M91.

We should at least document this requirement at the top of [Pthreads support](https://emscripten.org/docs/porting/pthreads.html) page so that us

[2020-10-08 13:16] rsielken commented on #12425
What I was trying to say was with the new preamble.js, the value of ABORT_ON_WASM_EXCEPTIONS didn't matter - it worked with 1 and with 0 (knowing that the makeAbortWrapper wasn't there with 0).  I didn't expect 0 to be a problem - I was just checking in case there was some side effect that was caused.

I did go back and reconfirm that we didn't have the problem with the old preamble.js and ABORT_O

[2020-10-08 14:08] tklajnscek commented on #12425
Ah ok, great, the PR fixes it then! Thanks for taking the time to test it :)

[2020-10-08 16:12] kripken commented on #9574
Good point @curiousdannii , maybe a small doc addition would be good enough.

[2020-10-08 16:20] DhairyaBahl commented on #12472
I would like to work on this issue. Kindly assign it to me.

Thanks :)

[2020-10-08 16:21] DhairyaBahl commented on #12462
I would like to work on this issue. kindly assign it to me

Thanks :)

[2020-10-08 16:31] RReverser commented on #12472
@DhairyaBahl Done, looking forward to a PR! Thanks.

By the way, please link to https://web.dev/coop-coep/ from the added warning for users looking for the expanded explanation.

[2020-10-08 17:09] DhairyaBahl commented on #12472
@RReverser Okay. I will refer that documentation as well.

Thanks :)

[2020-10-08 19:39] #11572 closed

[2020-10-08 20:00] kripken commented on #12400
@omnisip

Trying to get what you wrote to compile, I hit
[code]
It can save a lot of time to provide already-runnable  testcases.

[2020-10-08 21:05] sbc100 commented on #12459
Can you try rebuilding all your libraries?

i.e. /root/design-wasm-renderer/third_party/skia/out/debug/libskparagraph.a', '/root/design-wasm-renderer/third_party/skia/out/debug/libskshaper.a', '/root/design-wasm-renderer/third_party/skia/out/debug/libharfbuzz.a', '/root/design-wasm-renderer/third_party/skia/out/debug/libicu.a', '/root/design-wasm-renderer/third_party/skia/out/debug/libskia.a

Its

[2020-10-08 22:10] kripken commented on #12462
@DhairyaBahl

Assigned, thanks!

Btw, in general feel free to work on anything even without being assigned. If it's marked "help wanted" and no one else is assigned then anyone can work on it. (Even without "help wanted", actually. But issues with that tag are definitely free.)

[2020-10-08 23:08] omnisip commented on #12400
future<int> sorry.

Give me a few minutes and I'll push a godbolt for you.

[2020-10-08 23:14] omnisip commented on #12400
https://godbolt.org/z/6Kd96G

[2020-10-08 23:23] omnisip commented on #12400
https://godbolt.org/z/j31v84

`em++ -g3  -O3  -s PTHREAD_POOL_SIZE=16 -s USE_PTHREADS=1 -s MODULARIZE=1 -s ALLOW_MEMORY_GROWTH=1 -s ASSERTIONS=1  -msimd128 -mavx  -s EXPORTED_FUNCTIONS='[ _malloc, _free, _functionCalledFromNodeJs ]' -s EXPORTED_RUNTIME_METHODS='[ccall, cwrap]' -s 'EXPORT_NAME=threadTest'  -I. -o threadTest.js  threadTest.cpp `

[code]

`/usr/bin/node --experimental-wasm-simd --exp

[2020-10-08 23:27] omnisip commented on #12400
if you change the PTHREAD_POOL_SIZE to 32, it will succeed, but will fail at 16.

[2020-10-08 23:59] georeith commented on #12459
@sbc100 Ah, I had tried that but I think something must have been cached by GN still as I did a complete wipe of the build directory and cache and it built. Other than a memory access out of bounds error now I did manage to test the above and can confirm this issue still happens for me in version 2.0.6.

[2020-10-09 01:28] #12406 closed

[2020-10-09 03:11] imlihang opened #12473 "pthread error"
I'm using pthreads with -s TOTAL_MEMORY=671088640 -s USE_PTHREADS=1 -s PROXY_TO_PTHREAD  with EMSDK 2.0.6.
I run my unit test in Chrome browser with version 86.0.4240.75.
I got the following error message.

xxx.worker.js:1 Refused to execute script from 'xxx.js' because its MIME type ('text/plain') is not executable.
worker.js onmessage() captured an uncaught exception: NetworkError: Failed to exe

[2020-10-09 09:11] fintechee commented on #11960
@DConmy
Hi, any update?
Thanks.

[2020-10-09 09:34] Yongle-Fu commented on #12119
[code]

[2020-10-09 09:38] Yongle-Fu commented on #12119
https://github.com/emscripten-core/emscripten/issues/6339

[2020-10-09 10:05] DhairyaBahl commented on #12369
@sbc100 Kindly remove me from the assignee. I am not working on the issue. Thanks :)

[2020-10-09 10:33] LanderlYoung opened #12475 "Improve C++ Exception performance by adding new exception mode -- handle exception in native C++ only."
Emscripten currently has two exception mode:
1. **disabled**: disable C++ exception completely.
2. **enabled**: enable exception and C++ exception can be throw to js

Here is a blog dive into the implementation [Exception handling in emscripten: how it works and why it’s disabled by default](https://brionv.com/log/2019/10/24/exception-handling-in-emscripten-how-it-works-and-why-its-disabled-by-def

[2020-10-09 11:08] DhairyaBahl commented on #12462
@kripken Okay I got it. I will remember it. Thanks for the tip. :)

[2020-10-09 11:31] DhairyaBahl commented on #12462
@kripken So i have to work on the docs or i have to work on the tests/test_other.py.

Thanks :)

[2020-10-09 13:49] jedisct1 commented on #7211
🥕

[2020-10-09 14:02] sbc100 commented on #12462
The problem is that `-1` is not accepted but that it should be .. so you will most likely need to fix emcc.py.. and of course add a test that actually passes `-1` to verify it works.

[2020-10-09 14:04] DhairyaBahl commented on #12462
@sbc100 Okay. Trying to understand the codebase.

Thanks :)

[2020-10-09 14:07] sbc100 commented on #12475
The problem is that for now there is no way to actually throw or catch from WebAssembly, which is why we need to use JS to add the try/cratch blocks.

There is an exception handling proposal in WebAssembly https://github.com/WebAssembly/exception-handling/ and there is an experiment flag to enable this: `-fwasm-exceptions`.  Bare in mind that no major browser yet supports this standard so its not

[2020-10-09 14:11] sbc100 commented on #12119
It looks like you are trying to compiler a file that contains inline x86 assembly.  When compiling for WebAssembly this won't work.  Perhaps there is a general C codepath that you can enable instead?

[2020-10-09 14:45] LanderlYoung commented on #12475
Thanks for the info.

It seems like the `-fwasm-exceptions` feature is not what I was expecting.

I just want wasm to support C++ code to work with exceptions, not throwing them to js (the embedder).

For instance:

[code]

The `actions` function throws C++ exceptions inside, and I just want the C++ function to work correctly, without the embedder (JS code) to collaborate with C++/WASM.

To do thi

[2020-10-09 16:21] tlively commented on #12475
You'll find that at some point libc++abi's `__cxa_throw` bottoms out with some sort of native assembly, which will be impossible to port to WebAssembly. There's no way around this until the Wasm EH proposal is standardized.

[2020-10-09 16:34] sbc100 commented on #12462
That seems like a reasonable way to go yes

[2020-10-09 16:57] DhairyaBahl commented on #12462
@sbc100 Okay I will do this in my repo and then I will pass a pull request.

Thank you :)

[2020-10-09 17:20] DhairyaBahl commented on #12472
Sorry I mistakenly closed it. I will create a new one  :)

[2020-10-09 17:57] kripken commented on #12475
Yes, the crucial thing here is that to implement C++ exceptions you need to be able to unwind the stack. The wasm exceptions proposal will add that capability to wasm. Until then, we have to do something else.

Currently we do that unwinding using JS - see the `invoke` functions. They do a try-catch in JS for us, and we can catch a JS exception that represents a C++ exception.

There is another po

[2020-10-09 21:11] kripken commented on #12462
I think that's not valid python. You'd need something like
[code]

[2020-10-09 21:59] Satancito opened #12480 "Embind await"
I have this function "**IsBrave**" in my main.cpp.
If browser contains ```navigator.brave``` it calls the ```navigator.brave.isBrave()``` function with await.

But when call from browser's console the exported function, it prints **undefined** value instead of **"Brave"** on Brave browser. In other browsers result is **"Unknown"**.

**Tested in Brave Browser's Console**
[code]
**Desired output**
[

[2020-10-10 00:00] Satancito commented on #11890
Check my issue, with a  solution.
https://github.com/emscripten-core/emscripten/issues/10850#issue-594618151

Using valObject::await() operator, same problem, I need some help.
https://github.com/emscripten-core/emscripten/issues/12480#issue-718444546

[2020-10-10 00:49] RReverser commented on #11890
@Satancito Yes, it's the same issue as @huningxin was showing, and the solution would be the same - someone needs to add support for async functions to Embind.

[2020-10-10 02:48] #11709 closed

[2020-10-10 03:14] #9388 closed

[2020-10-10 03:14] #9415 closed

[2020-10-10 03:14] #9376 closed

[2020-10-10 03:14] #9401 closed

[2020-10-10 07:58] Akaricchi commented on #12270
Hey. I'm the one responsible for the fibers implementation, but I've never used Embind. I don't see anything wrong with the fiber usage here, though you have omitted most of the actual fibers API usage. Could you please provide a minimal test case that I can just compile and run as-is?

[2020-10-10 08:04] DhairyaBahl commented on #12462
@kripken Thank you :)

[2020-10-10 08:10] Akaricchi commented on #12270
One thing I'd try is to replace the `emscripten_fiber_swap` calls with another Asyncify-based API like `emscripten_sleep(1)`, and see if that affects the return value. If it does, then this problem isn't directly related to fibers, and the bug is probably some nasty interaction between embind and asyncify. Assuming that the return value is correct when *not* using any Asyncify calls, of course.

[2020-10-10 10:50] LanderlYoung commented on #12475
Thanks, guys. Learned a lot.

It seems it is indeed impossible to let C++ unwind stack for now.

One possible solution as @kripken mentioned is to add exception-checks all over the place, despite the code size concern, it also requires code generation to be changed.

But with the `-sDISABLE_EXCEPTION_CATCHING=0` option, the performance is really bad.

Hope the proposal be implemented in recent day

[2020-10-10 19:25] davlhd opened #12489 "Undefined symbol: __tls_base"
I am trying to compile OpenCV 3.1.0 and use it in a C++ project. I am using 2.0.5 and I am getting this error when linking:

undefined symbol: __tls_base (referenced by top-level compiled C/C++ code)

I tried switching optimizations but the error persists.

Do you know what could cause that?

( I am using docker and ubuntu:20.04)

[2020-10-10 19:41] davlhd commented on #12489
Downgrading to 2.0.0 solved the problem

[2020-10-10 21:38] #9421 closed

[2020-10-10 22:51] aaronpuchert commented on #11123
Interesting post, thanks for sharing it. The proper solution for https://stackoverflow.com/a/6300023 is in my view to add an _lvalue reference qualifier_ to `operator=` instead:

[code]

That prevents assignment to temporaries much more idiomatically and doesn't unnecessarily prevent calling `I& -> I` or `I&& -> I` functions afterwards.

To me it seems like the type deduction goal stands in your w

[2020-10-10 23:57] 100xCoder opened #12490 "create_context(Webgl2.0) -> get_attributes: Webgl2.0 -> GL_VERSION: Webgl1.0"
EmscriptenWebGLContextAttributes atrs,verify;
emscripten_webgl_init_context_attributes(&atrs);
atrs.majorVersion = 2;
atrs.minorVersion = 0;
emctx = emscripten_webgl_create_context(id, &atrs);
assert(0<emctx); // true
assert(emscripten_webgl_make_context_current(emctx) == EMSCRIPTEN_RESULT_SUCCESS); // true
assert(emscripten_webgl_get_context_attributes(emctx,&verify) == EMSCRIPTEN_RESULT_SUCCESS)

[2020-10-11 04:56] sbc100 commented on #12489
Are you trying to build a multi-threaded program?  (i.e. are you liking with `-s USE_PTHREADS=1`)?

When you upgrade from 2.0.0 to 2.0.5 are you re-building all object files and library files?  Does it fix the issue if you do?  (Not that you should have to do this in general but I'm just curious if that solves the issue... as that information might help us in debugging).

[2020-10-11 06:24] #9412 closed

[2020-10-11 06:24] #7684 closed

[2020-10-11 06:24] #9389 closed

[2020-10-11 06:24] #7565 closed

[2020-10-11 10:21] algestam commented on #11927
A PR (#12492) that adds the `O_NOCTTY` flag has been submitted. The change partly resolves the issue with gzip as files are getting compressed but another error is emitted once the file has been compressed (`gzip: testfile.gz: Not a directory`). The reason to why this happens seems to be that a call to `futimens` fails. I'm not sure if this is related to the `O_NOCTTY` flag or if it's related to s

[2020-10-12 05:02] beakbeak commented on #9574
To use @curiousdannii's code, I had to also link with `-sASYNCIFY_IMPORTS=["emscripten_sleep_using_raf"]` to avoid a stack overflow.

[2020-10-12 08:50] ucanudo opened #12495 "webidl: Why remove the underline of a variable or function"
![image](https://user-images.githubusercontent.com/45194746/95725477-4a922f00-0caa-11eb-8393-e6d6b80a3bdf.png)

`
class Test{
public:
 Test();
~Test();
void _getInnerData(){
 return _innerData;
}
double _innerData;
}
`
webidl will remov '_' . convert '_getInnerData()'  to 'getInnerData()', convert '_innerData' to 'innerData'.
why???

[2020-10-12 14:33] sbc100 commented on #11362
Apparently llvm 11 was just released so if we want to try your approach perhaps we should tag an emscripten release now to match the llvm release?

[2020-10-12 15:24] kripken commented on #7083
Reopening, as this still sounds useful. @wffurr , any updates?

[2020-10-12 15:53] gauravgola96 opened #12496 "EM_JS : unable to free const char* in cpp"
[code]
Got compilation error : `cannot initialize a parameter of type 'void *' with an lvalue of type 'const char *'
        std::free( response);
`
Also tried: `std::free((char *)response)` successful compilation but memory is not freed when checking with cout.

Followed documentaion from : [https://emscripten.org/docs/api_reference/emscripten.h.html#c.EM_JS](url)

[2020-10-12 16:46] kripken commented on #11362
We can tag now, but it won't match, I think? Emscripten is already on newer LLVM code after the branch.

We'd need to go back in history to find where the branch happened, so we find the emscripten `tot` build that is closest to the release. (And then we should run our tests on it.)

[2020-10-12 16:54] sbc100 commented on #11362
Sorry, my bad.  LLVM 11 obviously branched a while ago.. ignore me.

[2020-10-12 19:35] tlively commented on #11362
The first version after the branch was 1.39.20. I had to figure that out to make the Rust CI use that version after they switched to using LLVM 11.

[2020-10-12 21:24] kripken commented on #12490
I don't see anything offhand. I would look in the test suite for similar code, that would be guaranteed to work, and comparing to it may be helpful.

Or, making a full standalone testcase here, that is easy to run, can help too.

[2020-10-12 21:34] kripken commented on #12495
I think that's in the WebIDL parser code that we didn't write (which is 99% of it). I'm not familiar enough with WebIDL to know if prefixes like that matter, but that code was taken from Mozilla's codebase, so it's probably right.

[2020-10-12 21:36] kripken commented on #11362
Thanks @tlively !

Then the next step here could be to create a PR here that downloads 1.39.20, then replaces that LLVM with a downloaded LLVM 11 release. If that passes, we should bless it in a nice document somewhere.

If no one else has time for this, I can try to find time (wouldn't be in the next few days though).

[2020-10-12 23:45] #9365 closed

[2020-10-13 00:37] briancullinan commented on #10903
I think I might be running in to something similar. If I run FS.syncfs the symlinks appear to be working. But, my Application data is twice the size as normal in IDBFS. It is creating duplicates for every symlinked file in IDBFS. When the app reloads the symlinks are converted to their own directories and no longer linked.

[2020-10-13 02:44] ucanudo commented on #12495
Thank you very much.  What's the difference between webidl in Emscripten and this site (https://heycam.github.io/webidl/),   Why are some keywords not recognized? Does the file 'webidl.py' is too old?

[2020-10-13 05:56] davlhd commented on #12489
I am not using USE_PTHREADS and yes, I rebuild everything every time I change the compiler.

[2020-10-13 06:17] sbc100 commented on #12489
You must be linking some object built with `-pthread` somehow.

Can you add `-s LLD_REPORT_UNDEFINED_SYBMOLS` so that the linker might tell you which file contains this undefined symbol?

[2020-10-13 08:43] #12475 closed

[2020-10-13 09:41] anthann commented on #12489
I'm using sdk of version emscripten-master-64bit to build latest opencv.js(4.4.0), and I got the same error.
After adding "-s LLD_REPORT_UNDEFINED", the linker shows as blow:

`wasm-ld: error: entry symbol not defined (pass --no-entry to suppress): main
em++: error: '/Users/abc/workspace/lib/emsdk/llvm/git/build_master_64/bin/wasm-ld -o /var/folders/sz/v5tr178x1fj40x70bxwr90bc0000gn/T/emscripten_t

[2020-10-13 09:49] anthann commented on #12489
By reproduce this problem, you could just test as below:

1. use latest emsdk
2. git clone https://github.com/opencv/opencv.git
3. cd opencv/
4. python ./platforms/js/build_js.py  --build_wasm --emscripten_dir PATH_TO_UPSTREAM  build_wasm

[2020-10-13 14:05] tlively commented on #12489
wasm-ld emits `__tls_base` as a Wasm global variable, not as a normal defined-data symbol. I'm not surprised referencing it from source code doesn't work. @sbc100 do we have any way to reference Wasm globals as normal data symbols in C++?

[2020-10-13 14:18] sbc100 commented on #12489
No you can't reference that symbols from C++ ... but it is still a symbol, just like `__stack_pointer` and the compiler generates references to it with it compiles with threads enabled right?

The error message `referenced by top-level compiled C/C++ code` is a bit misleading.. what it means is that the undefined symbol is in the output of the linker.. as opposed to the JS library code.

[2020-10-13 15:53] rsielken commented on #12223
I have come back to revist this.  In moving from EMSDK 2.0.0 to 2.0.3 and Firefox 78 to 80, I do now get a stack.  I have added some debug (**RSSDebug** in the main js and **RSSDebugW** in the worker js) and also added an _rssId_ field to the worker so which I just set and increment each time we create a new worker (starting with 0 such that 0 is the main thread).  PTHREAD_POOL_SIZE=4 still.

When

[2020-10-13 18:51] Isaac-the-Man commented on #12489
Got the same error when building OpenCV.js 4.4.0. I'm using cmake 3.16 and latest emsdk.
[code]

[2020-10-13 19:58] tlively commented on #12489
With this sample program:

[code]

Compiling *without* `-pthread` worked fine, but compiling with `-pthread` gave me

[code]

[2020-10-13 20:15] tlively commented on #12489
Also, when I followed the instructions from this [comment](https://github.com/emscripten-core/emscripten/issues/12489#issuecomment-707627525), I got the following error:

[code]

[2020-10-13 20:33] kripken commented on #12400
Thanks @omnisip !

It looks like what happens here is that when a worker exits, it `postMessage`s the main thread to tell it that it can be reused. But in this code, the main thread never exits to the event loop, it just constantly runs, so it never gets that.

It may be possible to avoid this problem by sending the message using the C queues, or some other mechanism that avoids the JS event loop.

[2020-10-13 20:35] kripken commented on #12400
I'm not sure how robust that can be. In general, using `-s PROXY_TO_PTHREAD` can avoid this entire class of problems - I verified it can run this testcase ok.

[2020-10-13 21:30] kripken commented on #12496
To debug this, maybe add some logging before the free, to see what the pointer's value is, and whether that matches the malloc.

[2020-10-13 21:46] omnisip commented on #12400
With proxy to pthread, I tried it before filing this issue. Is there a new version that has a fix or something?

[2020-10-13 22:11] RReverser opened #12513 "Produce correct HTML for EXPORT_ES6"
When trying to output a `.html` with `-s MODULARIZE=1 -s EXPORT_ES6=1`, I'm getting the following error:

[code]

The error is talking about a clash between `-s MODULARIZE` and `-s EXPORT_NAME=Module`. But I'm not using `EXPORT_NAME` - surely, with `EXPORT_ES6` the output name doesn't matter that much (it's not publicly accessible anyway) and Emscripten could take care of defining one that wouldn'

[2020-10-13 22:25] 100xCoder commented on #12490
I found out what the problem was. I had been building using a makefile, and turning .cpp files into .o files as usual. Then, in the link step, I omitted the necessary WEBGL2.0 flags. Apparently, it's mandatory to pass them in the link step as well. All is peachy again.

[2020-10-14 06:50] RandyGaul opened #12514 "Failed to parse metadata - Newline escaping"
I'm trying to compile a block of code within an `EM_JS` macro. The offending piece is here:

`headers.trim().split(/[\r\n]+/);`

The problem is the `\` escape sequences, so, of course the next step is to escape the escapes.

`headers.trim().split(/[\r\n]+/);`

The problem is the final javascript that is outputted will emit an actual newline character, with this kind of result.

[code]

Which resul

[2020-10-14 06:53] RandyGaul commented on #12514
For now I can just pass the string in question to C and do the split there, manually... But ideally there should be a way to use regular expressions in JS like this. I noticed in the fetch API this split on XMLHttpRequest headers is done in C++ -- presumably as an optimization, and does avoid the problem I am showing here.

[2020-10-14 09:36] fibbo opened #12515 "Provide file path for source files when debugging"
I started to use Ubuntu 18.04 under WSL to compile our code just because the emscripten tool chain seems to work more reliably under linux.

The rest of the development is still under windows. When I test the code in the browser and I try to look at the source file the browser doesn't find the files because the path where the browser is supposed to find them is the wsl path /mnt/c/...

Is there a

[2020-10-14 10:15] Faless opened #12516 "IDBFS not released (closed) on runtime exit."
IDBFS cached databases are not closed after the runtime exits, keeping them locked.

See this example:
[code]

Compile with:
`emcc fs.cpp -lidbfs.js -o a.html -s EXTRA_EXPORTED_RUNTIME_METHODS='[FS, IDBFS]' -s FORCE_FILESYSTEM=1 -s EXIT_RUNTIME=1`

Open the generated `html` file, check out in the JS console `IDBFS.dbs` and you'll notice the `/cleanup` database is still there.
In godot, to properly

[2020-10-14 10:46] everywill commented on #11380
@popomen I think the small noises are introduced by web-audio's output latency. The subsequent pcm does not immediately come into audio device.

[2020-10-14 11:41] jonassmedegaard commented on #12381
package maintainer of emscripten for Debian here.

I fully agree with sbc100: When using distributed software, please file report issues against said distribution, and coordinate with them if/when/how to best pass issues upstream to the developers of the code.

Concretely, emscripten in Debian is now updated - but you should consult Canonical about their use of the Debian package in Ubuntu.

[2020-10-14 12:06] LanderlYoung opened #12517 "performance issue with UTF8ToString"
My code frequently passes a string from C++ to JS. To do this I used the `UTF8ToString` built-in function.

Something like this:
[code]

However, I found this code executes slower than expected (chrome profile shows 85% of total execution time). So I looked into the code.

call chain: `UTF8ToString` -> `UTF8ArrayToString`

And `UTF8ArrayToString` basically has such logic:

[code]

Turns out that s

[2020-10-14 14:18] jonassmedegaard opened #12518 "typos in docs/packaging.md"
the file `docs/packaging.md` has a few typos:
  * Hiccup: "you can use can use"
  * Hiccup: "the information about about"

[2020-10-14 15:40] andres-erbsen opened #12519 "run npm install in make install to pull in html-minifier-terser"
I am just trying out emscripten and when I use emcc -O2 -o a.html (as in [this example](https://emscripten.org/docs/porting/asyncify.html#returning-values)) I get the following error:

`emcc: error: html-minifier-terser was not found! Please run "npm install" in Emscripten root directory to set up npm dependencies`.

I have installed emscripten using the Arch Linux [package](https://github.com/arc

[2020-10-14 16:06] sbc100 commented on #12519
I seem to remember this issue being dealt with in the downstream package.  @svenstaro is the maintainer I believe.

Does the `node_modules` directory exist at all inside the packaged emscripten directory?

[2020-10-14 16:09] svenstaro commented on #12519
It does but the Makefile doesn't use npm and I can't find anywhere that documents that. I think the Makefile should just run `npm install` and we're good.

[2020-10-14 16:16] sbc100 commented on #12519
Ah I see ..   do you think it makes sense to bundle the `node_modules` in the emscripten tar ball?  I guess maybe?

Either that or we could document it somewhere.  Currently `npm ci` (or `npm install`) is an expects post-install step that all git users are expected to run and that `emsdk` runs.     Maybe better to keep the emscripten tar archive small and document this in `packaging.md`.

I also s

[2020-10-14 16:40] sbc100 commented on #12517
This is pretty widely used function so I don't think we can break back-compat here.   But using an extra arg or a seperate function sounds fine.  This will be useful for C++ strings where the length of the string also already known a-priori.

I do have question though:  Do you have a real world application the cost of doing strlen in JS is having a noticeable effect on performace?  It doesn't seem

[2020-10-14 17:48] kripken commented on #12495
Yes, it's probably just that we took that code many years ago, and have not updated. In practice just a subset of WebIDL matters, which is why it wasn't urgent to update. Is something missing?

[2020-10-14 17:51] kripken commented on #12223
What JS code is on the lines indicated by the stack trace?

[2020-10-14 18:17] rsielken commented on #12223
I had to build again, so my webpacked JS file names changed, so I have included the new log and then the JS lines for the stack:

[code]

[code]

[2020-10-14 18:21] svenstaro commented on #12519
I think since you have a makefile with an install step, it should also take care of running npm to make sure all required not modules are in place.

[2020-10-14 19:30] sbc100 commented on #12519
I kind of agree.  We also use this install script to publish the downloadable tar archive though... and I don't really want to bloat them with node_modules (which can also contain platform specific stuff).

What do you think?  Should our downloadable tar releases contains the `node_modules` directory?   I kind of think of npm install as being a post install step for a user of the tar archive.

[2020-10-14 19:31] sbc100 commented on #12519
Maybe `make dist` can exclude node_modules even though `make install` creates it?

[2020-10-14 19:51] #12518 closed

[2020-10-14 21:23] kripken commented on #12490
Great, glad you figured this out!

(Yes, flags affecting JS, like WebGL, are important at link time.)

[2020-10-14 21:23] #12490 closed

[2020-10-14 22:41] RReverser opened #12525 "Imply MODULARIZE when EXPORT_ES6 is set"
Currently trying to use `-s EXPORT_ES6=1` fails with an error:

It seems like, instead of throwing an error, a better development experience could be auto-implying `MODULARIZE` too (since `EXPORT_ES6` is already unambiguously requires the output to be a module).

[2020-10-14 23:33] RReverser opened #12526 "-gseparate-dwarf should embed a path relative to the Wasm binary"
**Steps to reproduce:**

 - Create an arbitrary sample file `sample.c` and a directory `dist`.
 - Try to compile arbitrary `sample.c` with the following command:
[code]

**Expected result:**

1. The stripped Wasm file is generated in `dist/sample.wasm`
2. The debug version of the Wasm file is generated in `dist/sample.dbg.wasm`
3. The `external_debug_info` in `dist/sample.wasm` contains a relative

[2020-10-15 00:11] kripken commented on #12517
Do we actually need to compute the length of the string? I'm not sure from the docs if TextDecoder.decode stops at a 0 or not.

If it doesn't, we should ask for an API that does...

[2020-10-15 05:13] zzmao commented on #10114
@marcoippolito  @cggallant  Where do you place the wasm file? Is there a way to config its path in vue?

[2020-10-15 09:12] jonassmedegaard commented on #12432
[ I am not one of the emscripten developers (so if you get other conflicting suggestions then probably those are more relevant than mine ]

I guess this issue is easier for others to help resolve if you can share your failing code - or even better if you can isolate and describe a failing scenario using only emscripten code.

[2020-10-15 11:15] VivianoRiccardo commented on #12432
I just figured out that you can t open a websocket server, only a client one. You can open a websocket server only if you implement the things that WebRtc uses. But anyway i don t need it anymore. I wanted to implement a peer to peer system but i got around of this just creating a peer to proxy communiciation system.

[2020-10-15 11:20] #12432 closed

[2020-10-15 12:02] aduh95 opened #12527 "Error on linking after update to v2.0.7"
When updating emsdk from 2.0.6 to 2.0.7, my build chain is broken: an error is thrown on the linking step:

[code]

It seems there is some breaking change in 2.0.7 which is not listed in the CHANGELOG. Note I've added `-s LLD_REPORT_UNDEFINED --no-entry` to print more meaningful error message, but I didn't need it with 2.0.6.

[2020-10-15 13:28] kripken commented on #12527
I think this can be caused by mixing object files from an older version, that are linked with the newer emcc, as there was an ABI change regarding those invoke functions (which should not be observable).

Does a complete rebuild of all object files and libraries fix this?

[2020-10-15 13:45] AlexanderVitiuk commented on #11947
Encountered the same bug, any thoughts on when it will be fixed?

Code:
...
std::wstring w1 = L"Привет";
std::wstring w2 = L"Василий";
wchar_t s[500];
swprintf(s, 500, L"[%ls %ls]", w1.c_str(), w2.c_str());
std::wcout << std::wstring(s).length() << s;
...

Output expected: 16 [Привет Василий]
Output got : 1 [

[2020-10-15 14:25] karlbuys opened #12528 "Cannot build"
Good afternoon

I'm attempting to compile a WASM library, and I'm having issues with it.

When compiling it without changing the CMakeLists.txt, I receive the following warnings:

[code]
When using this WASM file while attempting to build MyMonero's desktop app, it threw an exception due to _ZN5boost6thread20hardware_concurrencyEv not being defined.

I figured this had something to do with threads

[2020-10-15 14:48] sbc100 commented on #12528
Firstly you can fix the `archive is missing an index` but ensuring you archives are created by `emar` rather than the system `ar` tool.

Secondly you should remove the `ERROR_ON_UNDEFINED_SYMBOLS=1` flag.  This flag, as you can see only delay the real problem until runtime.

Finally the actual missing symbol: _ZN5boost6thread20hardware_concurrencyEv.   This demangles to :`
boost::thread::hardware_

[2020-10-15 14:51] georeith commented on #12459
After some further investigation the issue is that `.keys()` returns a `std::vector` of the key type so to fix the above you can register that also:

[code]

[2020-10-15 17:48] kripken commented on #12400
@omnisip I don't remember a related fix. But please try it on the latest version. If it doesn't work for you with `PROXY_TO_PTHREAD`, that could be a separate issue.

[2020-10-15 17:53] kripken commented on #11947
If someone is interested to work on this, let me know if you have any questions about how to debug it. As a starting point, I'd compile the testcase and try to see if the problem happens in libc or in JS support code.

[2020-10-15 17:59] faerot commented on #11947
Is this a musl bug or emscripten's ?

[2020-10-15 18:48] karlbuys commented on #12528
Hi @sbc100

Thank you for the guidance. I've removed the pthread option and enabled the LLD_REPORT_UNDEFINED_SYMBOLS=1

I see the following output when I run emar t boost/lib/libboost_thread.a
[code]
I tried running emar s for the four files, as well as emar ranlib on them.

I'm not sure if this is done at an appropriate stage in the build process. At the moment, I'm building boost using the follo

[2020-10-15 20:20] algestam commented on #11927
Have investigated the issue with gzip outputting `gzip: testfile.gz: Not a directory` a bit further.

TL;DR - The issue is not related to the `O_NOCTTY` flag missing (which has been resolved earlier) but is most likely related to an issue with setting file timestamps.

Build and run:

    mkdir build
    cd build
    emconfigure ../configure --disable-gcc-warnings TIME_T_32_BIT_OK=yes LDFLAGS="-O2

[2020-10-15 20:48] sbc100 commented on #11927
Looks like a real bug... sounds like you are well placed to fix it ;-)

[2020-10-15 20:49] sbc100 commented on #11927
Also it looks like this particular has been fixed now?   Can we close it?

[2020-10-15 21:27] sbc100 commented on #12110
The `unexpected existing value for R_WASM_MEMORY_ADDR_I32` warnings I've seen before are when a slightly older version of llvm was used to produce the object files.    Is it possible that https://github.com/dotnet/corert is using a slightly different version of llvm?

I think these offsets in question were changed in https://reviews.llvm.org/D79462 or https://reviews.llvm.org/D87407.

Its is a lit

[2020-10-15 21:38] yowl commented on #12110
Runtime looks fine.  When LLVM11 is out, then hopefully we'll get a new version of LLVMSharp and hence a new version of LLVM.  It's always a problem for me when I want the latest emscripten, but have to chance it with an older LLVMSharp/libLLVM.  Go ahead and close if you like, if it is still present with LLVM11 I can reopen.

[2020-10-15 21:47] algestam commented on #11927
Yeah, I think this issue can be closed as the `O_NOCTTY` flag now is supported. Will continue looking into the other problem found.

[2020-10-15 21:59] sbc100 commented on #12110
Ok that makes sense  Good to know.

I don't know if you are already tracking https://github.com/emscripten-core/emscripten/issues/11362 but it certainly seems like you could benefit.

[2020-10-15 21:59] #12110 closed

[2020-10-15 22:01] #11927 closed

[2020-10-15 22:08] sbc100 opened #12533 "Clarify and document our support or lack of it for msys2/cygwin/mingw"
We occasionally get issues around folks trying to use either emsdk or emcc from a msys2/cygwin/mingw and it would be good if we could document clearly our support for these environments.

Some related bugs:
https://github.com/emscripten-core/emscripten/issues/12376
https://github.com/emscripten-core/emsdk/pull/631
https://github.com/emscripten-core/emsdk/issues/385

[2020-10-15 22:18] sbc100 commented on #12533
There are various levels of support we might want to talk about:

Runing emsdk
===========

a. Running emsdk in an msys environment but with win32 python.exe
b. Running emsdk in an msys environment but with msys python.exe

I believe we kind of support this today and that it doesn't offer too much of a challenge.
The key here is that the installer will then install our windows version of python wh

[2020-10-15 22:58] kripken commented on #12223
Thanks, @rsielken , but it can be hard to debug these things... still not clear to me what's going on. You may want to remove this manually:
[code]
That `onerror` handler may be preventing the stack trace from being clear. Sadly this differs between node and between browsers in my experience. I often just try all the options until the stack trace is useful.

Or, you can add some debug logging arou

[2020-10-16 07:40] AlexanderVitiuk commented on #11947
There are testcase:

`#include <iostream>
#include <string>
using namespace std;

int main() {
  wstring w1, w2;
  wchar_t s[500];
  // 1. latin:
  w1 = L"Hi";
  w2 = L"there!";
  swprintf(s, 500, L"[%ls %ls]", w1.c_str(), w2.c_str());
  std::wcout << std::wstring(s).length() << s;
  std::wcout << L"\n";

  // cyrillic
  w1 = L"Привет";
  w2 = L"Василий";
  swprintf(s, 500, L"[%ls %ls]", w1.c_str(

[2020-10-16 09:02] LanderlYoung commented on #12517
Thanks for the reply~

@sbc100 I'm still developing my ScriptEngine library, which intended to provide a unified C++ API for V8/JSCore/Lua and now WASM.

My library doesn't have any real-world application using on WASM for now (but will have very soon).

The result is tested on my UnitTest.

But since we already find the performance problem, I'd like to open a PR to fix it.

reply @kripken Accordi

[2020-10-16 11:30] hmil commented on #12527
I am experiencing the same issue. Complete rebuild didn't help.

I installed emscripten with `brew install emscripten`.
**However, the problem disappeared after uninstalling emscripten with brew and re-installing it with emsdk as recommended in the documentation.**

[2020-10-16 12:13] DhairyaBahl commented on #12472
@RReverser @sbc100
Kindly look at the PR #12478 . That PR will close this issue. Kindly tell me if i have to make improvements in that PR.

Thanks

[2020-10-16 14:03] kripken commented on #12527
Thanks for the info @hmil

It's possible cached system libraries were the problem in that case - maybe the brew setup doesn't automatically rebuild them on each upgrade? If so, it may help others to do `emcc --clear-cache` in addition to rebuilding their project code.

[2020-10-16 14:25] QuantScientist opened #12537 "Failed to fetch compiler version information with command "'C:/emsdk/upstream/emscripten/emcc.bat' ]"
Hello,
Working on windows using CMake, I have the exact  same problem as described here: https://github.com/adevaykin/minimal-cmake-emscripten-project/issues/2

[code]

![image](https://user-images.githubusercontent.com/18743986/96270579-8132b700-0fd4-11eb-8dfd-e122d72121b7.png)

This path:
C:/emsdk/upstream/emscripten/emcc.bat exits of course:

![image](https://user-images.githubusercontent.com/1

[2020-10-16 14:33] QuantScientist commented on #12537
And what is more, invoking `call c:\emsdk\emsdk activate` kills everything that was in the PATH variable so even cmake.exe is not found. I had to do this:

[code]

[2020-10-16 14:55] sbc100 commented on #12537
The path issue looks like https://github.com/emscripten-core/emsdk/issues/634

To help us debug, can I ask.. the path elements are being lost.. are they from the system PATH or the user PATH specifically as specified in the registry?  Or do you have local values added to your PATH that are no in the registry at all?

[2020-10-16 14:59] sbc100 commented on #12537
So the error is happening in some kind of IDE ?

Can we see the full error please?  Does it not show the output of the emcc.bat command?

[2020-10-16 15:00] sbc100 commented on #12537
When you run `emcc.bat` from the command line it looks like the name of the python executable is being printed.. did you make a local modification to add that?

[2020-10-16 15:05] QuantScientist commented on #12537
On the command line / IDE does not matter. This is the full error.

[2020-10-16 15:06] QuantScientist commented on #12537
Indeed, I tried debugging and added an echo command.

[2020-10-16 15:07] sbc100 commented on #12537
I think cmake will log the output of failed executions in the output directory... can see if there are any cmake error logs there?

[2020-10-16 15:10] sbc100 commented on #12537
But your screenshot is hiding some of that output.. can you run from the command line and copy and paste the entire output?

The "Unable to find build program" looks like it can't find `nmake.exe` .. is that in your path somewhere?

[2020-10-16 15:10] QuantScientist commented on #12537
I committed everything here:"
https://github.com/QuantScientist/ncnnRay/tree/main/wasm

I am probably unknowingly doing something wrong.

[2020-10-16 15:12] QuantScientist commented on #12537
I am trying to build the simplest CMake based example before porting https://github.com/QuantScientist/ncnnRay/ to emiscripten.

[2020-10-16 16:29] QuantScientist commented on #12537
So, I created everything from scratch.
https://github.com/QuantScientist/ncnnRay/tree/main/wasm
I am able to:

My script is as follows:
[code]
In the same script, I wanted to invoke ninja however `c:\emsdk\upstream\emscripten\emcmake cmake .` terminates the console even if it is successful so the invocation of ninja never reaches. can this be alleviated somehow?

Additionally, how do I using CMake

[2020-10-16 17:32] sbc100 commented on #12537
If you send you linker output file to end in `.html` it will generate 3 files:  .html, .js, and .wasm.

[2020-10-16 18:01] QuantScientist commented on #12537
I really appreciate your help.

`cmake -DCMAKE_BUILD_TYPE=Release  -G "CodeBlocks - NMake Makefiles" . -B web -DCMAKE_TOOLCHAIN_FILE=c:/emsdk/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake -DCMAKE_CROSSCOMPILING_EMULATOR="C:/emsdk/node/12.18.1_64bit/bin/node.exe" && cmake.exe --build web
`
What should I amend here to reflect the change you requested?

[2020-10-16 18:05] sbc100 commented on #12537
You would need to tweek the downstream cmake files I imagine.   The `web` target would probably need to be changed.   I suggest you ask the author of project about it.

[2020-10-16 18:08] kripken commented on #11947
To see if this is musl's fault or emscripten, one way is to compile without emscripten but with the musl code (for example by compiling in the relevant musl `.c` files, or building all of musl if that's not easy). Can also try different musl versions to see if  that matters.

[2020-10-16 18:09] QuantScientist commented on #12537
The author of which project? I wrote ncnnRay :)
The module here: https://github.com/QuantScientist/ncnnRay/tree/main/wasm is a standalone project, so no worries about parent projects. Can I amend the script above to cater to that?

Thanks

[2020-10-16 18:27] yowl commented on #11362
If you want the "stable" version, but the latest LLVM for that version, say 11 which looks like its out now, then the process is:

1. download emscripten at the "stable" version (`emsdk install/activate`)
2. download LLVM v11 at the latest, e.g. 11.0.1 (when that comes out)
3. point emscripten at that LLVM (`.emscripten` and `LLVM_ROOT`)

Is that right?

[2020-10-16 18:38] sbc100 commented on #11362
That sounds like it would work.  You might not even want to use emsdk.. because by using emsdk you are downloading another copy of llvm.

If you are using emsdk you are kind of opting in to using the tools as bundled.

[2020-10-16 18:42] gerald-dotcom opened #12539 "Getting "Too many locals" while trying to compile a 1 million LOCs with assertions enabled"
It complains that it can't do live analysis due to the size of codebase

[2020-10-16 18:54] sbc100 commented on #12539
What tool exactly is complaining?

[2020-10-16 18:56] sbc100 commented on #12537
I imaging you can just change `hello_world` to `hello_world.html` in the `add_executable` line.

[2020-10-16 19:16] gerald-dotcom commented on #12539
It's Emscripten

It just say too many local vars thus can't do live analysis

[2020-10-16 19:19] QuantScientist commented on #12537
It just appended html before JS, but thanks for the suggestion.
![image](https://user-images.githubusercontent.com/18743986/96299928-72142f00-0ffd-11eb-8085-996e28b4ab97.png)

Does no one do this from CMake? Am I the only one?

[2020-10-16 19:26] sbc100 commented on #12539
Can you include that actual full error output?

[2020-10-16 19:58] gerald-dotcom commented on #12539
Here it's,

[code]

and

`error: 'C:/Users/Administrator/emsdk/upstream\bin\wasm-opt --strip-dwarf --safe-heap --post-emscripten --inline-main --no-exit-runtime --low-memory-unused --strip-debug --strip-producers --asyncify --pass-arg=asyncify-asserts --pass-arg=asyncify-imports@env.invoke_*,env.emscripten_sleep,env.emscripten_wget,env.emscripten_wget_data,env.emscripten_idb_load,env.emscripten_id

[2020-10-16 20:15] kripken commented on #12539
Looks like it's the liveness analysis. That's just a warning, though. Does it otherwise finish ok? From the error it looks like maybe not, so could be a separate issue.

You can run with `EMCC_DEBUG=1 BINARYEN_PASS_DEBUG=1` to get more logging information.

[2020-10-16 20:47] rsielken commented on #12223
If I just comment out **loadWasmModuleToWorker/worker.onerror**, everything runs cleanly.

I added some try-catch blocks in various places including around the **PThread.loadWasmModuleToWorker()** you mentioned, but I don't catch anything.  Plus, if I put logging in there, I can see that I get passed all of them and am processing the main loop before hitting the error (many calls to **_emscripten_

[2020-10-16 21:00] gerald-dotcom commented on #12539
The error goes away if I try with say -O2 other than that it still there and stop compiling.

I'm trying to debug alignment fault & segmentation fault without using -O option

[2020-10-16 22:36] junjihashimoto commented on #12367
Hi,
The test of proxyfs isn't enough, but it's here.
https://github.com/emscripten-core/emscripten/blob/13493fd0a200e809e1d0b45a1dd77ed89683a93c/tests/test_other.py#L2505-L2738

[2020-10-17 05:29] #8371 closed

[2020-10-17 05:29] #9448 closed

[2020-10-17 08:43] kovacsv commented on #11947
I'm happy to investigate the musl part, but I haven't find any information on compiling and debugging musl on Windows. If you could help me start maybe I can check if it's a musl error or not.

[2020-10-17 13:43] gerald-dotcom commented on #12539
Well, I tried to compile with -O2 with specific memory flag and at runtime, it throws following error

`RuntimeError: abort(CompileError: WebAssembly.instantiate(): Compiling function #1625 failed: local count too large @+2667236)`

I'm going to find sometime and post logging info

[2020-10-17 16:43] sunfishcode commented on #11947
It looks like a musl issue. This C testcase:
[code]
on x86_64-linux-gnu prints:
[code]
and on x86_64-linux-musl prints:
[code]

[2020-10-17 16:43] kripken commented on #12539
There are limitations on how many locals a wasm VM will accept. You may need to find a way to reduce the number at the source level, if binaryen can't optimize them away. For example, maybe you can generate multiple functions instead of one huge one, or prevent inlining, etc.

[2020-10-17 18:01] gerald-dotcom commented on #12539
With-Oz locals error go away but in return it gives alignment fault & segmentation fault

So it's impossible to debug if WASM VM has limit since debug mode need non-optimized version.

[2020-10-17 20:32] gerald-dotcom commented on #12539
I put` std::cout << "hello world << "\n"` on top of main function of this big program and all memory errors suddenly disappeared.

I've seen the same behavior on https://github.com/emscripten-core/emscripten/issues/11774

[2020-10-18 04:35] #6653 closed

[2020-10-18 07:29] gerald-dotcom commented on #12539
Closing this. Tweaked some flags and it all magically started to work.

[2020-10-18 07:29] #12539 closed

[2020-10-18 08:38] gerald-dotcom opened #12541 "Why does the WASM binary file contain paths of the included header files?"
While inspecting the generated `.wasm ` file I noticed that it contains paths of the included header file along with my computer username.

I build with -Oz and didn't include any debug related flags while compiling.

Closely related to https://stackoverflow.com/questions/30139852/why-does-the-executable-binary-file-contain-paths-of-included-header-files

[2020-10-18 10:37] aduh95 commented on #12527
Thank you, that fixed my problem.

Maybe it would be worth adding a note in the CHANGELOG? It's not that usual that a 0.0.x update breaks ABI backward compatibility.

[2020-10-18 10:54] Akaricchi commented on #12496
What do you mean by that exactly? Did you `free` the string, then successfully print it out? If so then that is not a valid test. Dereferencing a `free`'d pointer is undefined behavior, and it's not surprising that the memory allocator wouldn't overwrite the `free`'d memory immediately.

Also consider simply returning `char*` rather than `const char*` from your `EM_JS` function, then you won't hav

[2020-10-18 15:37] kripken commented on #12527
Good point @aduh95 , given the reports here, this was not clear enough. I opened #12542 which will hopefully help.

I think with that, we can close this.

[2020-10-18 15:37] #12527 closed

[2020-10-18 18:39] Satancito commented on #11890
I have a solution for this problem. I will share it on this week. 100% using Embind.

[2020-10-18 18:39] Satancito commented on #11890
I have a solution for this problem. I will share it on this week.

[2020-10-18 18:41] Satancito commented on #11890
I have a solution for this problem. I will share it in this week. 100% Embind solution.

[2020-10-18 20:28] georeith opened #12543 "Acorn optimizer - Cannot read property 'type' of undefined"
My build is failing with the following error:

[code]

Here's the command I'm running:

[code]

version: 2.0.7

[2020-10-18 20:34] #6759 closed

[2020-10-18 20:34] #9460 closed

[2020-10-19 01:01] Satancito commented on #11890
@RReverser this "[EmbindAsync](https://github.com/Satancito/EmbindAsync)" solves the issue.

EXAMPLE from [Asyncify - returning values](https://emscripten.org/docs/porting/asyncify.html#returning-values)

# Main code
## main.cpp
[code]

## index.html
[code]
# Results
![image](https://user-images.githubusercontent.com/18097869/96390807-f12f7180-117b-11eb-9626-df8fac87a91a.png)

![image](https://use

[2020-10-19 09:20] DhairyaBahl commented on #12472
@kripken @sbc100 @RReverser I've made the required changes. Kindly look forward to my PR #12540 .

Thank you for cooperation :)

[2020-10-19 09:52] #4840 closed

[2020-10-19 15:23] omnisip commented on #12400
Retry the sample with PTHREAD_POOL_SIZE=4.  It will fail.  I think the behavior should be that it restores the threads after completion -- so even if it's not an ideal pool size, it should handle them in order.

[2020-10-19 16:18] kripken commented on #12517
@LanderlYoung I wonder if that comment is accurate, though. Reading the MDN docs I'm not sure. Also, there may be another Web API for this, as it does seem pretty obvious. Worth looking for if someone has time.

[2020-10-19 17:34] Satancito commented on #12480
Solved with [#11890](https://github.com/emscripten-core/emscripten/issues/11890#issuecomment-711454589)

Check the code
[EmbindAsync](https://github.com/Satancito/EmbindAsync)

[2020-10-19 17:34] #12480 closed

[2020-10-19 17:40] Satancito commented on #10850
Solved with [#11890](https://github.com/emscripten-core/emscripten/issues/11890#issuecomment-711454589)

Check the code
[EmbindAsync](https://github.com/Satancito/EmbindAsync)

[2020-10-19 17:40] #10850 closed

[2020-10-19 17:40] Satancito commented on #10911
Solved with [#11890](https://github.com/emscripten-core/emscripten/issues/11890#issuecomment-711454589)

Check the code
[EmbindAsync](https://github.com/Satancito/EmbindAsync)

[2020-10-19 17:40] #10911 closed

[2020-10-19 21:16] kripken commented on #12223
If you can provide a testcase that might be best, and I can take a look.

If not, then another option is to just add manual logging until you find where the error happens.

[2020-10-19 21:25] kripken commented on #12541
Clang may do this if you use things like `__FILE__`, which various projects use in their logging code, for example (to log the line from where it is printing). Looks like that's similar to the `wxAssert` mentioned in that link - your project may have something similar in its source code.

(There is no way for emscripten to be aware of this or strip them out - it has to be fixed in your source.)

[2020-10-19 21:30] kripken commented on #12543
This doesn't sound like a known issue, but we'd need a testcase to debug it @georeith

Or you can debug it on your side by seeing if it's something specific in your user-provided JS (check if removing a `--pre-js` for example makes a difference).

[2020-10-19 22:30] georeith commented on #12543
@kripken thanks for the pointer on where to start. I narrowed it down to this function in my pre-js:

[code]

Specifically the spread operation here:

[code]

Replacing it with this removes the issue:

[code]

[2020-10-19 22:32] zababurinsv opened #12550 "error: implicit declaration of function 'rotateSurface90Degrees' is invalid in C99 [-Werror,-Wimplicit-function-declaration]"
i have code that is using SDL2

MakeFile
[code]

And i getting this error:

[code]
[code]

How can i fix it ?

[2020-10-20 01:19] earwig opened #12551 "Compiler error with malformed symbol generated"
I'm tracking down a strange Emscripten error on a large project. Here's a minimal reproducible example:

[code]
The error (full text collapsed):

[code]

<details>
<summary>Full error</summary>

    $ em++ -Wall main.cpp -o main.js
    emscripten:ERROR: emscript: failure to parse metadata output from wasm-emscripten-finalize. raw output is:
    {
      "staticBump": 536,
      "tableSize": 2,

[2020-10-20 05:31] DhairyaBahl commented on #12472
@kripken @RReverser Kindly Close this Issue as my PR is merged and I am removing myself from the assignees.

Thanks :+1:

[2020-10-20 07:36] faerot commented on #11947
I have found this explanation on musl site about locale limitations:
https://wiki.musl-libc.org/open-issues.html
Does it mean that they won't be fixing it at all?

[2020-10-20 09:03] LanderlYoung commented on #12517
@kripken As my tested shows, the comment is accurate. MDN does not clarify the situation when there is a '\0' inside the string. But Unicode standard does allow '\0' inside strings. So, as far as I know, the behavior is correct.

As for other APIs, neither do I have any idea
BTW, once there was a StringView API, but now It seems deprecated. https://developer.mozilla.org/en-US/docs/Archive/Add-ons/

[2020-10-20 09:58] PiotrSikora opened #12552 "EMIT_EMSCRIPTEN_METADATA broken since 2.0.5"
[code]
The same command works fine with 2.0.4 and older releases.

cc @sbc100

[2020-10-20 11:17] gerald-dotcom commented on #12541
You're right. The issue caused by dependency.

-DNDEBUG=1 fixed the problem.

[2020-10-20 11:17] #12541 closed

[2020-10-20 11:18] RReverser commented on #12472
Just for the future - there is no need to remove yourself from assignees when work is complete.

[2020-10-20 11:18] #12472 closed

[2020-10-20 11:20] DhairyaBahl commented on #12472
@RReverser I am extremely sorry.. I was not aware about this...

Thanks :)

[2020-10-20 11:30] RReverser commented on #12472
No worries, it doesn't break anything, just a tip to reduce work for yourself :)

[2020-10-20 16:16] justablob opened #12555 "PermissionError: [Errno 13] Permission denied: '.'"
Hey there, I'm currently facing an issue with Emscripten 2.0.7, specifically emcmake, where immediately after running it, it gives me a PermissionError. I'm running this on Ubuntu 20.04 in WSL1 on Windows 10 Pro (Build 19041.572). Here's the exact command and error:
[code]
As you might be able to tell, I'm trying to compile liboqs, a post-quantum cryptography library, to Emscripten. I can provide

[2020-10-20 16:25] sbc100 commented on #12555
You need to pass `cmake` as the first argument to `emcmake`

[2020-10-20 16:28] justablob commented on #12555
Wow... Now I feel stupid. Thanks @sbc100 :)

[2020-10-20 16:28] #12555 closed

[2020-10-20 17:45] kripken commented on #12400
@omnisip , it seems to work for me with 4 as well. Here is exactly what I am running:
[code]

Building with
[code]
works, as does the same with a pool size of 4. In both cases it reaches the final print of "done!".

(*Without* `PROXY_TO_PTHREAD`, it fails in a different place based on the pool size - with 16 it can reach the second wait.)

[2020-10-20 18:14] rsielken commented on #12223
I can't get the test case to recreate the problem.  I tried adding logging but as soon as I add more logging, it makes the issue stop happening (or if I add even more, then sometimes it will make it happen again).  That sensitivity is why I probably can't get the test case to hit the necessary timing.

Preallocating more pthreads is working for us, so we are going to stick with that for now and no

[2020-10-20 18:19] kripken commented on #12543
Interesting, thanks for the update @georeith

It would be good to check if this is an issue in upstream acorn (if so we should update). We do already pass `ecmaVersion: 2020` so we should be using everything acorn supports.

[2020-10-20 18:30] omnisip commented on #12400
-s PROXY_TO_PTHREAD=1  is synonymous right?

[2020-10-20 18:41] kripken commented on #12552
Very strange... our test in the test suite passes on CI, and it passes for me locally. Even stranger, from your stack trace @PiotrSikora , `toLEB` is called with `0`, so `x >= 0` as the assertion wants - so why is it failing?

I wonder if somehow the python code that is run differs from the python in the stack trace? Maybe add a `print('x is', x)` right before that assertion and see what it prints

[2020-10-20 18:55] sbc100 commented on #12552
I can repro this locally:

[code]

[2020-10-20 18:57] sbc100 commented on #12552
Its because we are not generating JS at all here so that `apply_memory` functions in skipped over.

[2020-10-20 18:58] sbc100 commented on #12552
@PiotrSikora we can and will fix this but can I ask if you really need EMIT_EMSCRIPTEN_METADATA and if so what for?

I'm hoping that here are no more valid reasons for it to exist and we can remove it soon.  See https://github.com/emscripten-core/emscripten/issues/12231.

[2020-10-20 19:09] sbc100 commented on #12543
We did only recently switch to 2020 though... what version of emscripten are you using?   (if you are using a git checkout, have you run `npm install` recently?)

[2020-10-20 19:09] sbc100 commented on #12543
Ignore this I see you are using 2.0.7 and the emsdk.

[2020-10-20 19:10] sbc100 commented on #12543
@kripken looks like maybe a bug in our `acorn-optimizer.js` code which uses acorn, rather than an issue with acorn itself?

[2020-10-20 19:22] sbc100 commented on #12551
This problem is due to a mismatch between the binaryen and llvm versions used in your project.

The re-writing of these symbols used to be part of binaryen and it is now done by llvm.

This means that you have a binaryen version that is recent enough to not do this work, but an llvm version that is not new enough to do it.

I believe this is perhaps an issue with the homebrew package.  Switching t

[2020-10-20 19:35] ravisumit33 opened #12558 "Undefined exported functions error despite of ERROR_ON_UNDEFINED_SYMBOLS=0"
I am building c++ project as main module(-s MAIN_MODULE=2) with some exported functions given as `-s EXPORTED_FUNCTIONS=@funcs.txt` and `-s ERROR_ON_UNDEFINED_SYMBOLS=0`. I am still getting `undefined exported function:` error while linking. The same code was getting linked on version 1.38.28. Now, after upgrading to 2.0.6, these errors are coming.

[2020-10-20 19:51] PiotrSikora commented on #12552
@sbc100 that's a great question! It doesn't look like we need it anymore, so from my point of view it can be removed.

[2020-10-20 19:53] sbc100 commented on #12552
Great!  I'll fix emscripten, if you remove the flag from your build :)

I'll probably send out a mail about possibly deprecating this soon.

[2020-10-20 20:02] #12396 closed

[2020-10-20 21:14] erikmchut opened #12559 "wasmTable.get(...) is not a function when using wasm object files"
I recently upgraded to emscripten 2.0.7 from a 1.XX.X release and did some benchmarking between LTO and non-LTO binaries on the new version. In the process, I encountered an error in in one of our applications that only repros when using wasm object files (non-LTO).

The error has the following stack trace:

TypeError: wasmTable.get(...) is not a function
    at invoke_vi (omniscope-asm.js:9)

[2020-10-20 21:43] sbc100 commented on #12559
This means that `invoke_vi` function is being called with an invalid table index.  Most likely table index 0.   I've been meaning to add a assertion here when table index 0 is requested because that is essentially a null function pointer exception.

Could you add a `console.log()` to `invoke_vi` to find out that index is being used?

Are you using MAIN_MODULE/SIDE_MODULE by any chance?

Can you se

[2020-10-20 22:08] Nanoteck137 commented on #12029
Hello, I was thinking that this might be a good first issue for me.
So I was wondering if I can help with this?

[2020-10-20 22:16] sbc100 commented on #12029
Sure!  In general feel free to help out on any issue that nobody has claimed ownership.  There should be plenty :)

[2020-10-20 22:22] Nanoteck137 commented on #12029
Oh ok, thanks for the tip :)

[2020-10-20 22:47] erikmchut commented on #12559
console.log shows that the calls to invoke_vi that fail have index=0.

Not easily. This is the first version of emscripten in which we had a working build with the wasm llvm backend and wasm object files. Is there anything else to try that would also get at the issue?

[2020-10-20 22:51] sbc100 commented on #12559
Well that is good sign in way because it means that we your have a null function pointer in your program somewhere.

Can you try building with `-g` or `--profiling-functions` to find out what the calling function is and where the function pointer which is argument 0 to `invoke_vi` is coming from?    I assume because its calling invoke_xx that this relates to exception handling.   @aheejin might ha

[2020-10-20 22:52] sbc100 commented on #12559
Is there any way to build your application without exceptions (at least as a test to see if that fixes the issue)?

[2020-10-20 23:04] erikmchut commented on #12559
The current compilation is -g0 -03, so I would expect no symbols and exceptions disabled by default. I'll try rebuilding with different options. If this is indeed a null-dereference as you suggest, should I just build with `-fsanitize=undefined` ?

[2020-10-20 23:08] sbc100 commented on #12559
Building with `--profiling-functions` is the lowest impact way to get symbols in your backtrace yes.

Building with sanitizers would be great, but I do also worry that this null pointer is perhaps not present in the source language but an indirect function pointer generated by the exception handling lowering pass which most likely generated the call to `invoke_xxx` in the first place.    If I'm co

[2020-10-20 23:10] sbc100 commented on #12559
You might want to look at the instruction that called the invoke_xx with the null pointer `omniscope-asm.wasm:wasm-function[1717]:0x922a0`.    To do this I would use something like `wasm-objdump -d`  look for function 1717.. it should contain the instruction at offset 0x922a0.  I might give you a clue as to what line in the input source it corresponds to.

[2020-10-20 23:38] VinnyOG opened #12561 "IDBFS Improper Date equivalence check."
#12409 introduced a bug.

The PR was merged with the assumption that != on Date objects compares the date values just like the greater than operator does. Unfortunately, this checks for object reference equivalence and will always evaluate to false in this case since each timestamp is a separate Date object.

PR submitted to address this issue by calling `getTime()` on the objects which returns mi

[2020-10-20 23:57] erikmchut commented on #12559
Thanks for the suggestions. I'll give them a try, and see what I can figure
out.

On Tue, Oct 20, 2020 at 4:10 PM Sam Clegg <notifications@github.com> wrote:

[2020-10-21 00:07] VinnyOG opened #12562 "IDBFS syncfs should not throw error when directory timestamps change"
`syncfs(true)` would try to create directories that already exist and fail.

`mayCreate` https://github.com/emscripten-core/emscripten/blob/81a65b1270c7c3017813ea50d9829843f0aa9df9/src/library_fs.js#L355

Called by `mknod` https://github.com/emscripten-core/emscripten/blob/81a65b1270c7c3017813ea50d9829843f0aa9df9/src/library_fs.js#L656

Called by `mkdir` https://github.com/emscripten-core/emscript

[2020-10-21 00:51] omnisip commented on #12400
@kripken Your example is different from mine because it has a main() function.  Mine explicitly calls from Node.JS (thus the javascript file that goes with it).  It still hangs for me (-s PROXY_TO_PTHREAD=1 or -s PROXY_TO_PTHREAD) if I don't give it enough threads.  See below:

[code]

[code]

[2020-10-21 00:53] omnisip commented on #12400
[code]

[2020-10-21 00:55] PiotrSikora commented on #12552
Deal! Consider it done.

btw: WAVM relies on the metadata if it detects non-WASI imports or if `--abi=emscripten` is specified:
[code]

[2020-10-21 01:06] sbc100 commented on #12552
Thanks for the heads up.  @AndrewScheidecker perhaps we can work to remove this restriction now.  Do you know of any remaining reasons why you need the `emscripten_metadata`.  I'm hoping modern emscripten-built standalone wasm modules don't need this to be executed.

[2020-10-21 01:06] sbc100 commented on #12552
Actually lets move the discussion to #12231.

[2020-10-21 01:07] sbc100 commented on #12231
@AndrewScheidecker:  Apparently wavm is relying (or reportedly relying) on `emscripten_metadata`.  Can we work to remove this restriction?

Do you know of any remaining reasons why you still need the emscripten_metadata today?  I'm hoping modern emscripten-built standalone wasm modules don't need this to be executed.

[2020-10-21 01:08] erikmchut commented on #12559
With `--profiling-funcs`, I get the following trace:

[code]
Next I added log statements in each of the lines in c8::GlRealityFrame::draw, finding that the error occurs on the call to the OpenGL method;
`glBindVertexArray(0);`

The method `glBindVertexArray` is actually a function pointer, which is defined as a static global:

`static auto glBindVertexArray = (PFNGLBINDVERTEXARRAYOESPROC) eglGetPr

[2020-10-21 01:14] sbc100 commented on #12559
Can you looks at the disassembly around the call to `invoke_vi` to see where it fetches the first argument (which appears to be null) from?   I imagine it should be loading it from memory at the location of the `eglGetProcAddress` pointer?

[2020-10-21 01:35] sbc100 commented on #12558
Yes this behaviour was changed in #11604.

The rational is that you really shouldn't be trying to export functions that don't exist.  Any reason why you have undefined functions in your @funcs.txt?   Any reason you can't remove them?

[2020-10-21 02:44] erikmchut commented on #12559
Here is a disassembly around the invoke_vi call. 606104 == 0x93f98, the address of the function pointer. You are correct, the value stored in this address is null.

Armed with this knowledge, my question is now: why does `eglGetProcAddress("glBindVertexArrayOES");` return nullptr here? Looking at the code, it seems  like eglGetProcAddress is [rewritten by binaryan postprocessing](https://github.co

[2020-10-21 03:04] sbc100 commented on #12559
Nice job debugging this so far.   I don't know of any reason why LTO would change anything about this process.

At what point is eglGetProcAddress being called?  Is it being run during a constructor, or as part of your normal application startup code?  Do you see it return null there?

[2020-10-21 03:20] erikmchut commented on #12559
eglGetProcAddress is being called during static initialization to initialize the function pointer which is a static global.

I was observing that the value is null right before it was called. It shouldn't be changing, so I'm currently working under the assumption that it is initialed to null.

[2020-10-21 03:23] sbc100 commented on #12559
I suspect it may relate to the static init stuff.   Maybe try initializing in a startup function other than static initialization?  (i.e. at the beginning of main?).

Can you log the value returned in both cases (static init vs main)?

[2020-10-21 03:23] erikmchut commented on #12559
(re-reading my last post, I'm chuckling because I would answer myself that c++ static initialization order is likely to blame for the situation I'm describing). I'll try lazy initialization and see if that does anything different.

[2020-10-21 03:32] erikmchut commented on #12559
And that fixes it. Great real-world example of C++'s indeterminate static initialization order. Linking gets changed, and the initializer order changes with it.  Thanks for the help debugging – and apologies for the user error. :-)

[2020-10-21 03:32] #12559 closed

[2020-10-21 04:55] earwig commented on #12551
Thanks! Using emsdk solved my problem. Sorry, I should have tried that.

[2020-10-21 04:55] #12551 closed

[2020-10-21 07:35] ravisumit33 commented on #12558
Actually I am getting this error for many of the defined functions and many system library functions also such as `["_i64Subtract", "__ZTVNSt3__217bad_function_callE", "__ZTINSt3__219__shared_weak_countE", "__ZTVN10__cxxabiv121__vmi_class_type_infoE", ""__assert_fail", "__ZTVSt12length_error", etc.]`

I am linking with `EMCC_FORCE_STDLIBS=1` so this should not have been the case. Also using mangle

[2020-10-21 07:46] sbc100 commented on #12558
Some of those symbol looks like they come from the C++ standard library.  Maybe you are linking with `emcc` rather than `em++`?

Other such as `_i64Subtract` and `__assert_fail`.. look like symbols that are part of the JS function so I believe you would need to export those using `DEFAULT_LIBRARY_FUNCS_TO_INCLUDE` and they don't want to be mangled.

[2020-10-21 07:48] sbc100 commented on #12558
Is there any particular reason you want to use combined object files here (`emcc -r`) rather than just normal `ar` libraries (created with `emar`)?   Also, I would avoid the `.bc` extension these days as the output `emcc -r` is actually a combined object files, not a bitcode file (unless you are using `-flto` everywhere).

[2020-10-21 07:49] sbc100 commented on #12558
Also, FYI, EXPORTED_FUNCTIONS has no meaning at compile time.

[2020-10-21 09:36] ravisumit33 commented on #12558
I am linking with em++ only. Looks like I have to add `DEFAULT_LIBRARY_FUNCS_TO_INCLUDE` option.
I also tried your suggestion to use `ar` libraries but I am still getting same error. Most surprising thing is I am getting undefined exported function error for functions that I have defined and for C++ standard libraries.

[2020-10-21 10:37] ravisumit33 commented on #12558
Is it possible that mangled names has changed between 1.38.28 and 2.0.6 versions?

[2020-10-21 13:00] surma opened #12568 "Emscripten glue code fails in strict mode with MAIN_MODULE"
Here’s a [small repro case](https://gist.github.com/surma/3010d6ddce7435783821c87bc5409342) that you can just build with `make all`.

If you comment out the [monkey-patched `setImmediate` global in `index.html`](https://gist.github.com/surma/3010d6ddce7435783821c87bc5409342#file-worker-js-L4), the code fails to run.

[code]

[2020-10-21 13:17] #12561 closed

[2020-10-21 13:49] VinnyOG commented on #12562
Submitted a PR to address this #12569

[2020-10-21 14:36] sbc100 commented on #12558
I believe those symbols that live the C++ standard library can change over time yes.  Specifically when we update to new version libc++.  For example I don't see that symbol in particular in my libc++ today.  I do see two very similar symbols though:

[code]

So it looks like signature of the internal `allocator::__init` function changes from `(char const*, unsigned int)` to `(char const*, unsigne

[2020-10-21 14:40] sbc100 commented on #12558
That particular change should have occurred when the llvm ABI for emscipten changes size_t from `int` to`long` (#5916), although it looks like that happened back in v1.38.10 so it would predate your last working version (v1.38.28).

[2020-10-21 16:32] kripken commented on #12517
I see, thanks @LanderlYoung

@RReverser , maybe you know: is there really no Web API for "get a JS string from a UTF-8 data starting at an offset in a typed array, and possibly not using the entire typed array"?

[2020-10-21 16:36] ravisumit33 commented on #12558
I see. Thanks for clarifying this. Is there a way to check for change in all the symbols like you checked for  libc++?  Like change in symbols for functions in my own code.

[2020-10-21 16:45] sbc100 commented on #12558
The simplest way I can think of is running `llvm-nm` on the input object files.

Normally you own symbols should not change since the name mangling of C++ symbols is stable (as long we don't change the ABI which should be extremely rare).

The most common cause of symbol names changing is that modification of your input source code.. how do you handle that?  Do you maintain funcs.txt by hand someh

[2020-10-21 16:47] RReverser commented on #12517
@kripken That's what `subarray` is for - it creates a cheap view into the existing ArrayBuffer, which can then be passed to TextDecoder.

The bigger problem, however, is that TextDecoder and TextEncoder themselves are fairly slow, as they're parts of DOM API (implemented in C++) and any usage, especially for small strings, ends up dominated by JS <-> C++ communication overhead.

When I worked on w

[2020-10-21 16:51] RReverser commented on #12517
Oh and FWIW as for step 1 one more thing you could try is replace manual

[code]

with something like

[code]

Not 100% sure if it would be faster due to extra `subarray` indirection though.

[2020-10-21 17:08] pkrasicki opened #12571 "Index out of bounds error with an array of certain size"
I get this error in Firefox when running my wasm code: `Uncaught RuntimeError: index out of bounds`. In Chrome I get this: `Uncaught RuntimeError: memory access out of bounds`.

Here is my code:
[code]

Why does this happen and how can I fix it? I don't get any errors with smaller array sizes. Here is how I compile:
`emcc test.cpp -o test.html`

[2020-10-21 17:11] #6240 closed

[2020-10-21 17:11] #6188 closed

[2020-10-21 17:11] #7076 closed

[2020-10-21 17:31] ravisumit33 commented on #12558
For all the exported functions, we haven't changed the the source code. I checked for the symbols in my own code and looks like they have changed. For example:
`__ZN2t33pdf5store5ArrayINS1_14StoreObjTraitsINS_20TetraphiliaAppTraitsEEEEC1ERKNS1_6ObjectIS5_EE`
changed to
`__ZN2t33pdf5store5ArrayINS1_14StoreObjTraitsINS_20TetraphiliaAppTraitsEEEEC2ERKNS1_6ObjectIS5_EE`

We can see both are mangled na

[2020-10-21 18:11] sbc100 commented on #12558
Interesting I don't know enough about name mangling to know the significance of that change..  if you are interesting if figuring out what llvm change caused the change it would be interesting to know.  Perhaps @dschuff has an idea?

Sadly 1.38.28 -> 2.0.7 is quite a large range.

One question, when you were using 1.38.28 we you using fastcomp?   That might explain the difference.

[2020-10-21 18:11] gerald-dotcom commented on #12571
Try with allow memory growth flag (Google this)

[2020-10-21 18:33] ravisumit33 commented on #12558
Yes, we were using fastcomp. One more thing I wanted to ask you. Why did you do `grep W` in the `nm` command above. I am asking this because one of the symbols for which I am getting undefined error has actually the same mangled name but its type is `t` instead of `W`. Is there a linkage issue here?

[2020-10-21 18:38] pkrasicki commented on #12571
I've tried `emcc test.cpp -o test.html -s ALLOW_MEMORY_GROWTH=1`, but I still get that error.

[2020-10-21 19:44] tigercosmos commented on #12525
@RReverser  I would like to take this issue. Could you kindly give me some hints to finish this one?

[2020-10-21 19:54] RReverser commented on #12525
@tigercosmos Sorry, it's already taken - see the in-progress PR above.

[2020-10-21 19:57] sbc100 commented on #12558
Oh I was just looking for the those C++ symbols happen to be weakly defined which gives them "W" .... for more normal defined symbols you want "t".

I can imagine there could be differences bettwen fastcomp and llvm in terms of name mangling, mostly because the use such very different versions of llvm and clang.   @dschuff does this ring any bells.

In any case once you have fixed those names they

[2020-10-21 21:05] ravisumit33 commented on #12558
Some symbols such as `__ZTVN10__cxxabiv117__class_type_infoE` are present in libc++abi.a
But still showing as undefined exported functions.
<img width="1197" alt="Screenshot 2020-10-22 at 2 31 06 AM" src="https://user-images.githubusercontent.com/19284116/96786985-a6795800-140e-11eb-8912-dbe287144334.png">

<img width="905" alt="Screenshot 2020-10-22 at 2 33 01 AM" src="https://user-images.githubu

[2020-10-21 21:27] spoon-vertiv opened #12572 "add asyncify into gl_in_pthread.cpp"
So the gl_in_pthread.cpp never worked for me.  it would always SNAP instantly to red instead of fade to red.  It was only recently when I examined gl_in_proxy_pthread.cpp did I realize why.   calls like this

while(emscripten_get_now() - now < 16) /*no-op*/;

were basically blocking the opengl updates from occuring?  at least i think that's the reason.  In order to fix this example for me you woul

[2020-10-21 21:35] ravisumit33 commented on #12558
Also can I get list of all undefined exported functions beforehand? Right now I am running em++ and then getting one and repeating this step.

[2020-10-21 21:55] sbc100 commented on #12558
Ah yes, I forgot you can control this from the command line with `-Wno-error=undefined` to turn them into warnings so you should see all of them without exiting.  You can also use `-Wno-undefined` if you want to disable them completely.

[2020-10-21 22:00] sbc100 commented on #12558
It looks like the problem with `_ZTVN10__cxxabiv117__class_type_infoE` is that its a data symbol rather than a function symbl.   Strangely enough EXPORT_FUNCTIONS can include data symbols.. but the error checker that is reported "undefined exported function" is not looking at the data exports.. so its given an erroneous error here.

[2020-10-21 22:03] ravisumit33 commented on #12558
So, if side module needs these data symbols, what is the way to export them?

[2020-10-21 22:17] sbc100 commented on #12558
They are being exported, the bug is the that error is being mis-reported for them.    You can suppress the error for a temporary workaround.   I'm working on an actual fix.

We don't have many users of `MAIN_MODULE=2` or of exporting data symbols with `FUNCTION_EXPORTS` so it not surprising to me that things like this show up from time to time.

[2020-10-21 23:51] dschuff commented on #12558
I use `c++filt` to demangle symbol names (not that I had to remove the leading `_` to get it to work.

[code]

and the result is.... they have the same demangling? (at least, I can't see a difference)

So, according to https://itanium-cxx-abi.github.io/cxx-abi/abi.html#mangling-special-ctor-dtor
the "C1" in the top version is a complete object constructor, whereas the "C2" in the bottom version is

[2020-10-22 02:28] vadimkantorov commented on #12219
@kripken @sbc100 Is there anywhere documentation on how is heap set up? (I found this: https://github.com/Sable/emscripten_malloc). The goal would be to cache only this header between the runs, and reset the rest to zero. Experimentally I found that only up to 32Mb are mostly nonzero.

Caching and resetting memory fully seems to work to reset module state between runs of main function.

[2020-10-22 02:41] sbc100 commented on #12219
The memory layout of an emscripten/llvm-generated wasm module is roughly as follows:

- 1024 bytes: reserved / unused
- stack data
- stack (5mb)
- heap

The heap starts as that address `__heap_base` (as C symbol) and its layout is completely depends on the allocator being used. The default allocator is dlmalloc.

However there is also read/write memory in the static data section so a full reset wo

[2020-10-22 02:47] vadimkantorov commented on #12219
Thank you! Should static data section also be in this layout somewhere?

For now I do:
[code]

[2020-10-22 11:32] paklau99988 opened #12577 "Want invoke remote FLASK (rest) server from my C++ client"
Hello,
I have small sever in Python, write FLASK server code with simple REST.
My client is in C++, want make remote request to Python server, is REST / HTTP request supportet with WASM?

Thanks you

[2020-10-22 12:19] Mintyboi commented on #12271
@kripken Nope, you're not missing anything.
It's what we did in an emscripten fork to minify even the exports so that we could reduce the size of the worker and wasm file. And we have a map from the minified names back to the mangled name so that we can reference back.

[2020-10-22 16:21] kripken commented on #12543
@sbc100 Worth investigating, yes. But the stack trace is on
[code]
which suggests the node is undefined. That seems less likely to be a bug in our code.

[2020-10-22 16:39] kripken commented on #12400
I don't think the main should make a difference - unless you are not waiting for the proper time to start up, perhaps? Using main will ensure you wait for the preparation stage to preload the workers. Might be worth debugging this with some prints to see what is different between the two cases (say, adding some printing in the `library_phreads.js` after the pool is all ready, stuff like that).

[2020-10-22 16:57] kripken commented on #12517
Thanks @RReverser , sounds interesting to investigate those.

[2020-10-22 17:05] tigercosmos opened #12578 "Can`USE_PTHREADS` and `MINIMAL_RUNTIME ` exist at the same time?"
Can`USE_PTHREADS` and `MINIMAL_RUNTIME ` exist at the same time?

I have a simple pthread code `test.c`.

I run em with the following arguments:

[code]

Then I got an error:
<details>
<img src="https://user-images.githubusercontent.com/18013815/96905642-4eecf200-14cb-11eb-8d00-5d57a2d52e9a.png">
</details>
The code works well when I don't set `MINIMAL_RUNTIME`.

I use version `2.0.7`.

`test.c` l

[2020-10-22 17:08] sbc100 commented on #12577
Check out the fetch api: https://emscripten.org/docs/api_reference/fetch.html

[2020-10-22 17:13] kripken commented on #12571
It looks like the lack of memory here is specifically stack space. Building with `-s TOTAL_STACK=32MB` for example fixes it.

I opened https://github.com/emscripten-core/emscripten/pull/12579 to make it easier to diagnose things like this, using `-s ASSERTIONS=2`.

[2020-10-22 17:15] tigercosmos commented on #12578
I found the problem:

it's because there is inrelevant code not been deleted:

[code]

[2020-10-22 18:29] kripken commented on #12271
@Mintyboi Still not sure I follow...

Does what you do overlap with emscripten's own wasm import and export name minification? Or with what we run closure to do?

Maybe a little code sample could help me understand :smile:

[2020-10-22 18:32] #11997 closed

[2020-10-22 19:03] omnisip commented on #12400
Does my loader script (above) which waits for the promise to resolve before testing the library ensure the module is fully loaded and ready to go?

[2020-10-22 19:10] pkrasicki commented on #12571
Thanks! That fixed it. I also had to change INITIAL_MEMORY to make it bigger than stack size. But what if I don't know the exact stack size? I'm doing image processing and the array contains all pixels from an image. The image is selected by the user and can have any width and height, so I don't control the size of the array.

[2020-10-22 19:45] kripken commented on #12571
@pkrasicki In that case you should not allocate it on the stack, in general. Allocating on the heap (`malloc()`, or a even better something with RAII like `std::vector`) would be better.

[2020-10-22 19:57] #12526 closed

[2020-10-22 20:20] kripken commented on #12568
Thanks @surma !

This should be fixed with #12581 as I see no references to `setImmediate` in the output with that.

@sbc100 we should probably do more strict mode testing... this testcase found another issue with `__stack_pointer` that I'll open a PR for in a sec.

[2020-10-22 20:35] sbc100 commented on #12568
Yes, just like `-Werror` I think we should probably default to building the entire test suite with `-s STRICT_JS` enabled.

[2020-10-22 21:05] sbc100 commented on #9685
I think this has still no yet been resolved fully.. tools like qtcreator and others are still a little confused about how to find emscripten correctly.

[2020-10-22 21:07] sbc100 commented on #12219
Sorry.. i wrote `stack data` rather than `static data` above..  I think I will correct it in place.

[2020-10-22 21:44] vadimkantorov commented on #12219
I guess the question is then: is it possible to know the static data size? And should it be sufficient to cache only this? + maybe some stack top set up. Caching 32Mb works well for my case, so it is mostly a theoretical question.

[2020-10-22 21:45] sbc100 commented on #12219
Static data ends at `__data_end` and the heap starts a `__heap_base`.     The stack itself lives in between those two symbols.

[2020-10-23 07:45] #12550 closed

[2020-10-23 14:01] bmeurer commented on #12340
@sbc100 It turns out what we need is actually a command line flag for `emcc` instead of an environment variable. Can you add a `-sCOMPILER_WRAPPER=...` as well? That way we can make this work with `cmake`, `gomacc` and `autoninja`.

[2020-10-23 15:29] sbc100 commented on #12340
Sure, sounds reasonable.

[2020-10-23 17:37] kripken opened #12589 "Support -lSDL2_mixer and others"
Background: https://github.com/emscripten-ports/SDL2_mixer/issues/2

Things like `-lSDL2` work because the internal library name matches the flag. But `SDL2_mixer` has a different internal name, with `_ogg` as a suffix, which prevents this.

The internal name is important as we build a different SDL2_mixer depending on the codecs. But it makes simple link flags not work.

It would be good to make

[2020-10-23 17:41] sbc100 commented on #12589
One possiblity it so have many different version of `libSDL2_mixer.a` but have the directory name distinguish them.

So

- `ogg/libSDL2_mixer.a`
- `ogg_mp3/libSDL2_mixer.a`

Then SDL2_MIXER_OGG would add `-L<path_to_system_libs>/ogg` to the library path?

Basically would move variant from the library name to the library path.

[2020-10-23 18:23] #8753 closed

[2020-10-23 19:09] sbc100 commented on #12340
There is already a config file setting called `COMPILER_WRAPPER` that can be used to set this globally in the config file.  Would that work for your use case?

[2020-10-23 20:39] bdenhollander opened #12593 "Multiple clang++ processes"
On a relatively small project, time spent in "compile inputs" for a lists of .cpp files is dominating the total time. Would it be possible to parallelize this loop using `multiprocessing` or `joblib` to launch one instance of clang++ per core?

https://github.com/emscripten-core/emscripten/blob/56c5062c80b1962ffb1c23e0ba5fc3b6c9d19bc6/emcc.py#L2015-L2034

[2020-10-23 20:50] sbc100 commented on #12593
The best way to compile in parallel is to use a build system that is capable of running multiple processes at once.

Normally you run the compiler once for each source input and the build system such as `make` or `ninja` is in charge of running them in parallel.

Passing multiple source inputs to the compiler directly is also limiting in other ways.  For example, it prevents you from choosing the

[2020-10-23 21:44] kripken commented on #12572
Thanks @spoon-vertiv , good point.

Looks like it's run like this in the test suite:
[code]
So it is using `OFFSCREENCANVAS_SUPPORT` which maybe helps? If it does, we should add a comment in the source maybe. If it doesn't, then I agree it needs something like ASYNCIFY, and we should add a comment for that. A PR would would be great.

[2020-10-23 22:19] kripken commented on #12578
cc @juj

Yes, I think this is not done yet, and PRs would be great of course!

Is the issue that `ENVIRONMENT_IS_WEB` etc. are not defined? I'm not sure offhand how best to fix that. If it's a tiny ifdef maybe that's ok, but long-term we should be able to avoid all of this using https://github.com/emscripten-core/emscripten/issues/12203

[2020-10-24 04:00] curiousdannii commented on #12527
I ran into this error upgrading from 2.0.5 to 2.0.7. I'd read the changelog and didn't realise any of the ABI changing changes would be relevant. I use cmake... would there be any way for it to automatically detect that it needs to recompile the object files?

[2020-10-24 04:12] sbc100 commented on #12527
I'm actually not sure we realized when we made this change that it would be make all the existing object files invalid as inputs, but in retrospect is it quite big ABI break that we made on the LLVM side.

Going forward if we were such breaking changes again, which I imagine at some point we will, I agree it would be nice to deal with it in a better way.

The only feasible approach that I can thin

[2020-10-24 04:34] tigercosmos commented on #12578
Yes, `ENVIRONMENT_IS_WEB` and `ENVIRONMENT_IS_NODE` are not defined in the output code, but they also should not exist at all.

I fix the issue by
[code]

[2020-10-24 10:55] Beuc commented on #12589
I confirm this broke my pygame_sdl2 build.
`wasm-ld: error: unable to find library -lSDL2_mixer`

However I have troubles determining when that broke. My build worked in 2.0.2 but the related SDL2_mixer changes seem to predate.

[2020-10-24 15:31] sbc100 commented on #12589
I believe it was when SDL_mixer to split into multiple different libraries with different names.  Maybe #11577?   But yes that would have been way back in 1.39.20.

You say it worked for you in 2.0.2, can you check 2.0.3?

[2020-10-24 17:21] Sundarcj opened #12596 "Undefined Reference while using webgl"
Hi, Browser throws `Uncaught TypeError: Cannot read property 'viewport' of undefined
    at _glViewport` while using `gl` methods OS:macOS Catalina 10.15.7

Here is the sample code i have used.

[code]

and compile command
[code]

can anyone help to fix this?

![image](https://user-images.githubusercontent.com/29049117/97087900-02302500-164b-11eb-9826-3182d2a70ac7.png)

[2020-10-25 14:11] vadimkantorov opened #12599 "[discussion] Exporting MEMFS JavaScript object by default"
Since MEMFS is enabled by default, I propose to export it by default as Module.MEMFS and Module.filesystems.MEMFS variables. Currently:

[code]

[2020-10-25 15:04] sbc100 commented on #12599
Couldn't that argument be applied to any functions that are included by default?

I think the reason we don't do that is that there is cost to exporting things on the Module in general, at least in terms of code size.   I may not know all the history / details here though.

In there some particular reason why MEMFS is needed outside the module more than other objects/methods?

[2020-10-25 15:07] vadimkantorov commented on #12599
Yep, it could.

I guess, my question is that the memfs main code is included anyway, so exporting it is just `Module[key] = value`. But if these little lines add up to some big size, then you're right.

[2020-10-25 15:08] sbc100 commented on #12599
I think one issue with code size is that the `Module[key]` stuff can't be minimized, unlike the rest of the JS internals, so t tends to add up yes.

[2020-10-25 15:13] vadimkantorov commented on #12599
I just found that MEMFS is available under "FS.filesystems.MEMFS" (even if it's not explicitly exported). It's just that I was using a wrong `filesystems` field (because it's not well-documented for now). So the code size reasoning and `FS.filesystems.MEMFS`, I retract this proposal :)

[2020-10-25 15:13] #12599 closed

[2020-10-25 18:49] #8835 closed

[2020-10-26 01:10] netpoetica commented on #9005
Hey @yeputons, just in regard to your example, maybe you can clarify: Is there any reason why that vector must be static?

[2020-10-26 08:39] perceptoid commented on #12489
The problem seems have been introduced between 2.0.4 and 2.0.5.

2.0.4 is the most current version, with which I am able to built OpenCV.js 4.4.0.

2.0.5 through 2.0.7 all give me the mentioned __tls_base linker error.

[2020-10-26 09:38] pfaffe commented on #12340
We're aware of the config option, but a command line flag has a bunch of advantages:
* It's visible in logs and in the ninja build rules. The former avoids hidden state, in that I can copy-paste build commands to rerun them. The second helps with tools such as autoninja which check the build rules for gomacc calls.
* It can be configured by build generators such as gn or CMake. I can configure mul

[2020-10-26 12:40] Akzo-Andries opened #12601 "BindingError with virtual destructor"
I am unable to create an operational class binding when it has a virtual destructor (underlying code is originated from the example [here](https://emscripten.org/docs/porting/connecting_cpp_and_javascript/embind.html#classes)):

[code]

I'm using emscripten with the following arguments:
`emcc src\main.cpp -o "web\cv3d.js" -std=c++1z -s LINKABLE=1 --pre-js "web\config.js" --bind`
This works just fi

[2020-10-26 12:57] Akzo-Andries commented on #12601
The problem is probably caused by that the ~destructor is optimized away.
It looks like it works with: virtual `virtual ~TestClass2() { std::cout << "TestClass destructor called!" << std::endl; }`

[2020-10-26 13:37] jonassmedegaard opened #12602 "please tag release 2.0.8 in git repository"
Hi,

It seems from 7b87f0b and https://github.com/emscripten-core/emsdk/pull/643 that a release happened.

If that's correctly assumed, then please tag it as such - to avoid guessing, for those building emscripten from source.

[2020-10-26 14:05] kripken commented on #12602
Sorry about this @jonassmedegaard , looks like we forgot this time. I tagged emscripten and emsdk now with 2.0.8 now.

[2020-10-26 14:05] #12602 closed

[2020-10-26 14:21] #12601 closed

[2020-10-26 14:22] Akzo-Andries commented on #12601
When a class for some reason cannot compile, the `BindingError: type "TestClass" must have a positive integer typeid pointer.` is thrown. I also encountered this for the fact that we have .hpp and .cpp files, and that if we do not specifically include the .cpp files, the same error occurs.

[2020-10-26 15:14] sbc100 commented on #12340
OK sounds good.  In that case think I might event a way to set arbirary config options on the command line.

Then there will 3 ways to set each config option

1. config file
2. env var
3. command line.

[2020-10-26 16:23] kripken commented on #12400
@omnisip it looks valid to me. But something must be going wrong somewhere, and that seems like a possible area. I think it just needs to be debugged as I said in my suggestions earlier.

[2020-10-26 16:29] kripken commented on #12527
Is the wasm features section extensible? Then we could build on that, adding an `emscripten-abi-57` etc. "feature" with the ABI version. cc @tlively

[2020-10-26 16:51] jonassmedegaard opened #12605 "libunwind CREDITS.TXT is missing - and arguably required to comply with its license"
The file `system/lib/libunwind/LICENSE.TXT` offers two licenses, one of them (NCSA) among other things requiring that...

The copyright holders are in same file documented as being "the contributors listed in CREDITS.TXT".

Issue is that the referenced file `CREDITS.TXT` seems missing from source.

How can I be sure to not violate the requirement of the license when I am not told whom I shall avoi

[2020-10-26 17:05] tlively commented on #12489
@sbc100 would you be able to look into this more?

[2020-10-26 17:23] sbc100 commented on #12489
Sure I'll take a look.

[2020-10-26 22:50] kripken commented on #12596
Probably the GL context failed to be created? You can see `GLctx.viewport` on the line that crashes, I think.

If GL context creation didn't report failure, but there is still not `GLctx`, I'm not sure what could go wrong. You can add some debug statements to debug it perhaps. Or, provide a fully runnable testcase.

[2020-10-26 23:01] kripken commented on #12605
Interesting, this seems to be a bug in LLVM. The libunwind [LICENSE](https://github.com/llvm/llvm-project/blob/master/libunwind/LICENSE.TXT) refers to `CREDITS.TXT`, but there is, as you said, no such file in that directory, or even in the parent. Please file an issue there.

[2020-10-27 08:03] wuchu commented on #9386
@jishuo1213 so how to deal with it?

[2020-10-27 12:53] pfaffe opened #12611 "Switch to disable configuration through environment variables"
It would be great if there were a switch to ignore environment variables to configure the build altogether.

Settings passed in via the environment become 'opt out', in the sense that if you want to be sure in a build script that a specific option is not set to something unexpected you have to override it on the command line. That makes it hard to create a hermetic build setup, since you never kno

[2020-10-27 12:56] pfaffe commented on #12611
cc @bmeurer

[2020-10-27 13:23] sbc100 commented on #12611
Can you say more about which settings exactly are causing you trouble here?   Its seems odd to want to explicitly ignore settings that the user has in their environment.

Are you talking about settings that correspond to specific entries in the config file, or other environment variables that we read (such as EM_CONFIG to actually find the config file in the first place).   Perhaps you are referri

[2020-10-27 13:29] sbc100 commented on #12611
To make an emscripten-clean env should be possible to remove all environment variables that start with `EM_`.   We try to always use that prefix.

Or better still, you could take the scons approach and create a completely clean environment for running the tools.   i.e. create a new environment from scratch completely ignoring the user's environment?  That way, even things like LD_PRELOAD won't mes

[2020-10-27 13:32] jishuo1213 commented on #9386
you mean deal with what,I changed the build option,add --no-engine and --no-dso

[2020-10-27 14:03] pfaffe commented on #12611
The environment variables set by emsdk are a great example. Assume I have a project that bundles an emscripten version it's known to work with, including dependencies and config. If the developer has a local version of emsdk installed and loads the emsdk_env script, the EM_CONFIG setting will override the project's config. Best case the project build just crashes, worst case we get subtle miscompi

[2020-10-27 14:20] sbc100 commented on #12611
Its almost like you want some kind config lock to make a given install hermtic... I kind of think emsdk wants the same thing really.   It should not be possible for users to mess with the emsdk config in general.

What about rather than environment or command line for this we create some kind of lock file inside the emscripten directory which would mean "this installation of emscripten is hermetic

[2020-10-28 01:28] eloraiby commented on #9242
Agree

[2020-10-28 05:24] OAguinagalde opened #12618 "Environment Path entries lost"
I have a couple of scripts for building with emsc that run these 2 before building:
[code]
I have never had problems until I updated my emscripten repo yesterday.
I've tracked down the issue to this exact commit  807e55c:

807e55c - Set user environment variables permanently by using `--permanent` + deprecate `--global` (#621)

The issues is that, after running the script, part of my path variable

[2020-10-28 05:29] OAguinagalde commented on #12618
Ah, I think I just posted this on the wrong repo... I'll move this to the emsdk repo, my fault.

[2020-10-28 05:29] #12618 closed

[2020-10-28 06:56] bmeurer commented on #12611
We're `DEPS`ing the Emscripten directory, so I don't think this would work easily for us, unless you make the hermetic build the default.

[2020-10-28 07:11] sbc100 commented on #12611
Oh so you are using a pure git checkout of emscripten and you don't run any post-checkout steps on it?  Where does your config file come?  How do you tell emscripten where it is?

[2020-10-28 07:33] smileorigin opened #12620 "window is not defined"
This is a part of my build script
[code]

I import glue js from my js file, and all file is load done in browser.
But the worker is threw a error
![image](https://user-images.githubusercontent.com/18087843/97405600-e53d6f80-1932-11eb-8187-d79bf4f5b4fe.png)

[2020-10-28 09:01] fridenmf opened #12621 "Uncaught SyntaxError: Unexpected token '{' in generated .js file"
**Version:**
Emscripten 2.0.7

**Description:**
I have a working hello world project using WebGpu, but when added support for main/side-modules i started getting errors in the generated .js file:
Uncaught SyntaxError: Unexpected token '{'

I'm using the following target properties on the main module:
-O2 -s MAIN_MODULE=1 -s USE_WEBGPU=1  -s DISABLE_EXCEPTION_CATCHING=0 -s WASM=1 -s ASYNCIFY=1
and

[2020-10-28 13:09] andres-erbsen commented on #12519
What would be needed to move forward with this? (The last proposal sounds reasonable to me.)

[2020-10-28 14:39] sbc100 commented on #12519
I don't personally have time to look at this right now .. if anyone wants to propose a patch it would be welcome.

[2020-10-28 14:53] sbc100 commented on #12621
Indeed it looks like both `wgpuComputePipelineGetBindGroupLayout` and `wgpuRenderPipelineGetBindGroupLayout` are declared in a stange way without the function keyword in `library_webgpu.js`... I have no idea how this is even possible, but it certainly doesn't seem to work.

@kainino, it looks like you added these in #11737?  Can you take a look?   Looks like we are missing some test coverage here.